<footer id="footer" class="footer">
        Bonjour, ceci est le footer de Paris Web.<br />
        Bonjour, ceci est le footer de Paris Web.<br />
        Bonjour, ceci est le footer de Paris Web.<br />
        Bonjour, ceci est le footer de Paris Web.<br />
        Bonjour, ceci est le footer de Paris Web.<br />
        Bonjour, ceci est le footer de Paris Web.<br />
        Bonjour, ceci est le footer de Paris Web.<br />
        Bonjour, ceci est le footer de Paris Web.<br />
        Bonjour, ceci est le footer de Paris Web.<br />
        Bonjour, ceci est le footer de Paris Web.<br />
        Bonjour, ceci est le footer de Paris Web.<br />
</footer>

<script src="{{.Site.BaseURL}}app.js"></script>
</body>

</html>