<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{{ $.Site.Title }}</title>
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/styleguide.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{.Site.BaseURL}}apple-touch-icon.png?2018">
    <link rel="icon" type="image/png" sizes="32x32" href="{{.Site.BaseURL}}favicon-32x32.png?2018">
    <link rel="icon" type="image/png" sizes="16x16" href="{{.Site.BaseURL}}favicon-16x16.png?2018">
    <link rel="icon shortcut" type="image/x-icon" href="{{.Site.BaseURL}}favicon.ico?2018">
    <link rel="icon" type="image/x-icon" href="{{.Site.BaseURL}}favicon.ico?2018">
    <link rel="manifest" href="{{.Site.BaseURL}}site.webmanifest?2018">
    <link rel="mask-icon" href="{{.Site.BaseURL}}safari-pinned-tab.svg?2018" color="#e11a81">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="styleguide">
