<nav>
    <ul>
        {{ $currentPage := . }}
        <li>
            Tokens
            <ul>
            {{ range .Site.Menus.tokens }}
                <li>
                    <a
                        class="{{if or ($currentPage.IsMenuCurrent "tokens" .) ($currentPage.HasMenuCurrent "tokens" .) }} active{{end}}"
                        href="{{.URL}}"
                    >
                        {{ .Name }}
                    </a>
                </li>
            {{ end }}
             </ul>
        </li>
        <li>
            Composants
            <ul>
            {{ range .Site.Menus.components }}
                <li>
                    <a
                        class="{{if or ($currentPage.IsMenuCurrent "components" .) ($currentPage.HasMenuCurrent "components" .) }} active{{end}}"
                        href="{{.URL}}"
                    >
                        {{ .Name }}
                    </a>
                </li>
            {{ end }}
             </ul>
        </li>
        <li>
            Modules
            <ul>
            {{ range .Site.Menus.modules }}
                <li>
                    <a
                        class="{{if or ($currentPage.IsMenuCurrent "modules" .) ($currentPage.HasMenuCurrent "modules" .) }} active{{end}}"
                        href="{{.URL}}"
                    >
                        {{ .Name }}
                    </a>
                </li>
            {{ end }}
             </ul>
        </li>
        <li>
            Pages
            <ul>
                {{ range .Site.Menus.pages }}
                <li>
                    <a class="{{if or ($currentPage.IsMenuCurrent " pages " .) ($currentPage.HasMenuCurrent "pages " .) }} active{{end}}" href="{{.URL}}">
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </li>
    </ul>
</nav>