<nav>

    <ul>
        {{ $currentPage := . }}
        <li>
            Tokens
            <ul>
            {{ range .Site.Menus.tokens }}
                <li>
                    <a
                        class="{{if or ($currentPage.IsMenuCurrent "tokens" .) ($currentPage.HasMenuCurrent "tokens" .) }} active{{end}}"
                        href="{{.URL}}"
                    >
                        {{ .Name }}
                    </a>
                </li>
            {{ end }}
             </ul>
        </li>

        <li>
            Components
            <ul>
            {{ range .Site.Menus.components }}
                <li>
                    <a
                        class="{{if or ($currentPage.IsMenuCurrent "components" .) ($currentPage.HasMenuCurrent "components" .) }} active{{end}}"
                        href="{{.URL}}"
                    >
                        {{ .Name }}
                    </a>
                </li>
            {{ end }}
             </ul>
        </li>
    </ul>
</nav>