{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["> 0.25%"]
        }
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "syntax-object-rest-spread",
    "transform-object-rest-spread"
  ]
}
