{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "globals": {
    "process": "readonly",
    "__dirname": "readonly",
    "module": "readonly",
    "require": "readonly"
  }
}
