nav {
  border-right: 3px solid var(--color-ui-02);
  padding: 3rem 1rem 1rem 1rem;
}
nav ul {
  padding: 0;
}
nav li {
  display: block;
  padding: 0;
  font-weight: bold;
}
nav li.active a {
  color: #f45099;
  font-weight: bold;
  text-decoration: none;
}
nav ul ul {
  padding-left: 1rem;
}
nav ul ul li {
  font-weight: normal;
}
