.banner {
    color: var(--color-text-inverted);
    background-image: linear-gradient(261deg, #b44ec9, #4c70da), linear-gradient(262deg, #734bf9, #4f27d6);
    padding: calc(var(--base-spacing) * 6) 0;
}

.banner > :first-child {
    margin-top: 0;
}
.banner > :last-child {
    margin-bottom: 0;
}

.banner a {
    color: var(--color-text-inverted);
}

@media screen and (min-width: 44em) {
    .banner {
        padding: calc(var(--base-spacing) * 10) 0;
    }
}