input[type="button"],
input[type="submit"],
.btn {
  display: inline-block;
  background: var(--color-brand-02-dark);
  color: var(--color-text-inverted);
  font-weight: bold;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  padding: calc(var(--base-spacing) * 2) calc(var(--base-spacing) * 3);
  margin: calc(var(--base-spacing) * 2);
  transition: background-color 0.25s ease;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.btn:visited {
  color: var(--color-text-inverted);
}
input[type="button"]:hover,
input[type="submit"]:hover,
.btn:hover,
input[type="button"]:focus,
input[type="submit"]:focus,
.btn:focus {
  color: var(--color-text-inverted);
  background: var(--color-brand-02-darker);
}
input[type="button"]:focus,
input[type="submit"]:focus,
.btn:focus {
  outline-color: white;
  outline-offset: -4px;
  outline-style: solid;
  outline-width: 2px;
}
input[type="button"]:disabled,
input[type="submit"]:disabled,
.btn.disabled,
.btn:disabled {
  opacity: 0.5;
  background: var(--color-brand-02);
}

.btn-primary {
  background: var(--color-brand-01);
}
.btn-primary:hover,
.btn-primary:focus {
  background: var(--color-brand-01-dark);
}
.btn-primary.disabled,
.btn-primary:disabled {
  background: var(--color-brand-01);
}

.btn-inverted {
  color: var(--color-brand-02-darker);
  background: var(--color-ui-01);
  transition: color 0.25s ease;
}
.btn-inverted:visited {
  color: var(--color-brand-02-darker);
}
.btn-inverted:hover,
.btn-inverted:focus {
  color: var(--color-text-inverted);
  background: var(--color-brand-02-darker);
}
.btn-inverted.disabled,
.btn-inverted:disabled {
  color: var(--color-text-03);
  background: var(--color-ui-01);
}

.btn-ghost,
.btn-link,
.btn-ghost:visited,
.btn-link:visited {
  color: var(--color-brand-02-darker);
  background: transparent;
  transition: color 0.25s ease;
}
.btn-ghost:hover,
.btn-link:hover,
.btn-ghost:focus,
.btn-link:focus {
  color: var(--color-text-inverted);
  background: var(--color-brand-02-darker);
}
.btn-ghost.disabled,
.btn-link.disabled,
.btn-ghost:disabled,
.btn-link:disabled {
  color: var(--color-brand-02-darker);
  background: transparent;
}
.btn-link {
  text-decoration: underline;
}

.btn-small {
  padding: var(--base-spacing) calc(var(--base-spacing) * 3)
    calc(var(--base-spacing) + 0.1rem);
  font-size: 1rem;
}

.btn-fluid {
  width: 100%;
}

.btn-no-margin {
  margin: 0;
}
