.form-field {
    margin: calc(var(--base-spacing) * 4) 0;
}
.form-field__label {
    margin: calc(var(--base-spacing) * 1.5) calc(var(--base-spacing) * 1.5);
    color: var(--color-text-03);
    font-size: 0.875rem;
    font-weight: bold;
}

input {
    border: 1px solid var(--color-ui-03);
    border-bottom: 3px solid var(--color-brand-02);
    border-radius: 3px;
    line-height: 1.4;
    padding: calc(var(--base-spacing) * 1.5) calc(var(--base-spacing) * 1.5);
    width: 100%;
    background: var(--color-ui-01);
}
input:disabled {
    cursor: auto;
    opacity: 0.5;
    background: var(--color-ui-01);
}
input:invalid {
    border-bottom-color: var(--color-special-red);
}