.inline-list {
  display: inline;
  padding: 0;
  margin: 0;
}

.inline-list li {
  display: inline;
  padding: var(--base-spacing);
  margin: 0;
}

.inline-list--full {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.inline-list--full li {
  display: block;
  text-align: center;
}
