.portrait {
  position: relative;
  display: inline-block;
  width: 11rem; /* ~140px */
  text-align: center;
  margin: calc(var(--base-spacing) * 4) calc(var(--base-spacing) * 2);
}
.portrait--link {
  cursor: pointer;
}
.portrait__avatar {
  height: 9rem; /* ~140px */
  width: 9rem;
  border-radius: 5rem;
  margin: 0 auto var(--base-spacing);
  overflow: hidden;
}
.portrait__avatar img {
  border-radius: 5rem;
  display: block;
}
.portrait__avatar svg, .portrait__avatar img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transform-origin: center center;
  transition: transform 0.3s ease;
}
.portrait--link:hover .portrait__avatar svg, .portrait--link:hover .portrait__avatar img {
  transform: scale(1.1);
}
.portrait .portrait__name a:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.portrait__links {
  margin: 0 auto;
  vertical-align: bottom;
  display: flex;
  justify-content: center;
}

.portrait__links a {
  position: relative;
  z-index: 2;
}

.portrait svg text {
  font-size: 36px;
  font-family: "PT Sans Narrow", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
.font-fallback .portrait svg text {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.portrait-long {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  max-width: 80ch;
}
.portrait-long__side {
  text-align: center;
}
.portrait-long__side, .portrait-long__content {
  max-width: 52ch;
}
.portrait-long .portrait__name {
  margin-top: 0;
  margin-bottom: calc(var(--base-spacing) * 4);
}
.portrait-long .portrait__description {
  text-align: left;
}

@media screen and (min-width: 44em) {
  .portrait-long {
    display: flex;
    text-align: left;
  }
  .portrait-long__side {
    margin-right: calc(var(--base-spacing) * 8);
  }
  .portrait-long .portrait__avatar {
    margin-bottom: calc(var(--base-spacing) * 2);
  }
}

.portrait-small {
  text-align: left;
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  width: auto;
  max-width: 30ch;
}
.portrait-small__side {
  text-align: center;
  margin-right: calc(var(--base-spacing) * 2);
}
.portrait-small__side .portrait__avatar {
  height: 4.5rem;
  width: 4.5rem;
}
.portrait-small__content {
  min-width: 15ch;
}
.portrait-small__content .portrait__name {
  margin-bottom: var(--base-spacing);
}