.portrait {
  display: inline-block;
  width: 9rem; /* ~140px */
  text-align: center;
  margin: calc(var(--base-spacing) * 2);
}
.portrait__avatar {
  height: 9rem; /* ~140px */
  border-radius: 4.5rem;
  overflow: hidden;
}
.portrait__avatar img {
  display: block;
  max-width: 120%;
  max-height: 120%;
  margin-left: -10%;
  margin-top: -10%;
  transform: scale(calc(1 / 1.18));
  transition: transform 0.3s ease;
}
.portrait:hover .portrait__avatar img {
  transform: scale(1);
}
