.social-link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.social-link svg {
    width: 2rem;
    height: 2rem;
    display: block;
    margin: 0 auto;
}