.social-link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.social-link svg {
  width: 2rem;
  height: 2rem;
  display: block;
  margin: 0 auto;
}
.social-link--big {
  font-weight: bold;
}
.social-link--big svg {
  width: 3rem;
  height: 3rem;
  display: block;
  margin: 0 auto calc(var(--base-spacing) * 2);
}
