.thumbnail {
  position: relative;
}

.thumbnail__media {
  max-width: 100%;
  display: block;
}

.thumbnail__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--color-text-01);
  font-weight: bold;
  pointer-events: none;
  font-size: 0.8rem;
}

.thumbnail__description > * {
  background: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  padding: var(--base-spacing) calc(var(--base-spacing) * 2);
}

.thumbnail__description > :first-child {
  border-top-right-radius: 10px;
}
.thumbnail__description > :last-child {
  border-top-left-radius: 10px;
}
