.toggle-switch input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}

.toggle-switch label {
  cursor: pointer;
  display: block;
  user-select: none;
  font-size: 80%;
}

.toggle-switch label span.control {
  display: block;
  position: relative;
  width: 36px;
  height: 20px;
  background: var(--color-ui-03);
  border-radius: 20px;
}

.toggle-switch label span.control::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 14px;
  transition: 0.3s;
}

.toggle-switch input[type="checkbox"]:checked + label span.control {
  background: var(--color-brand-01);
}

.toggle-switch input[type="checkbox"]:checked + label span.control::after {
  left: calc(36px - 3px);
  transform: translateX(-100%);
}

.toggle-switch label:active span.control::after {
  width: 20px;
}
