.menu-example {
  position: static;
  display: inline-block;
  border: 2px solid var(--color-ui-02);
  border-right: 0;
  opacity: 1;
  width: 380px;
  visibility: visible;
  pointer-events: all;
}

.menu-example .menu__overlay {
  display: none;
}
.menu-example .menu__content {
  transform: translate(0) scale(1);
  opacity: 1;
  width: 100%;
}
