:root {
  --color-brand-01: #f45099;
  --color-brand-02: #49badf;
  --color-ui-01: #ffffff;
  --color-ui-02: #e7e5ef;
  --color-ui-03: #c5c3ce;
  --color-ui-04: #aaa7b4;
  --color-ui-05: #86838f;
  --color-ui-06: #423f4a;
  --color-ui-07: #000;
}
