:root {
  --color-brand-01: #e11a81;
  --color-brand-02: #058fd6;
  --color-brand-03: #734bf9;
  --color-brand-01-dark: #e90f70;
  --color-brand-02-dark: #0071b8;
  --color-brand-03-dark: #4f27d6;
  --color-brand-01-light: #ff52ab;
  --color-brand-02-light: #3d9dd9;
  --color-brand-03-light: #ad95fb;
  --color-brand-02-darker: #0068a8;

  --color-ui-01: #fff;
  --color-ui-02: #e7e5ef;
  --color-ui-03: #c3c3ce;
  --color-ui-04: #aaa7b4;
  --color-ui-05: #86838f;
  --color-ui-06: #423f4a;
  --color-ui-07: #25222c;

  --color-text-01: #000;
  --color-text-02: #25222c;
  --color-text-03: #585462;
  --color-text-inverted: #fff;

  --color-special-red: #ff2d40;
  --color-special-green: #39ca74;
  --color-special-yellow: #fdc02f;
  --color-special-blue: #0172f0;
}
