:root {
  --color-brand-01: #f45099;
  --color-brand-02: #49badf;
  --color-brand-03: #734bf9;
  --color-brand-01-dark: #e90e70;
  --color-brand-02-dark: #2195bb;
  --color-brand-03-dark: #4f27d6;
  --color-brand-01-light: #f998c3;
  --color-brand-02-light: #8ad3ea;
  --color-brand-03-light: #ad95fb;

  --color-ui-01: #fff;
  --color-ui-02: #e7e5ef;
  --color-ui-03: #c3c3ce;
  --color-ui-04: #aaa7b4;
  --color-ui-05: #86838f;
  --color-ui-06: #423f4a;
  --color-ui-07: #000;

  --color-text-01: #000;
  --color-text-02: #25222c;
  --color-text-03: #585462;
  --color-text-inverted: #fff;

  --color-special-red: #ff2d40;
  --color-special-green: #39ca74;
  --color-special-yellow: #fdc02f;
  --color-special-blue: #0172f0;
}
