svg.icon * {
    fill: currentColor;
}
.icon {
    display: inline-block;
}
.icon.icon--search {
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: -0.1rem;
}
.icon.icon--menu {
    height: 0.9rem;
    width: 1.8rem;
    margin-bottom: -0.1rem;
    vertical-align: baseline;
}
.icon.icon--social {
    height: 1.4rem;
    width: 1.4rem;
}
.icon.icon--left-arrow {
    height: 0.8em;
    width: 1.2em;
}

.icon-link {
    display: inline-block;
    color: var(--color-text-03);
    text-decoration: none;
    padding: calc(var(--base-spacing) * 1);
}
.icon-link .icon {
    display: block;
}