@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), local('PTSans-Regular'),
      url('/fonts/PTSans-Regular.woff2') format('woff2'),
      url('/fonts/PTSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Italic'), local('PTSans-Italic'),
      url('/fonts/PTSans-Italic.woff2') format('woff2'),
      url('/fonts/PTSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Bold'), local('PTSans-Bold'),
      url('/fonts/PTSans-Bold.woff2') format('woff2'),
      url('/fonts/PTSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: local('PT Sans Narrow'), local('PTSans-Narrow'),
      url('/fonts/PTSans-Narrow.woff2') format('woff2'),
      url('/fonts/PTSans-Narrow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),
      url('/fonts/PTSans-NarrowBold.woff2') format('woff2'),
      url('/fonts/PTSans-NarrowBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root { font-size: 0.9em;  }
@media (min-width: 44em){
	:root { font-size: 1em;  }
}
@media (min-width: 68em){
  /* 50% de nos visiteurs sont entre 1150 et 1920px de large. */
	:root {
		font-size: calc( 1em + (24 - 16) * ( (100vw - 1150px) / ( 1920 - 1150) ));
	}
}
@media (min-width: 120em){
	:root {
		font-size: 1.5em;
	}
}

html,
body {
  color: var(--color-text-01);
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.4;
}

.font-fallback,
.font-fallback body,
.font-fallback h1,
.font-fallback .h1-like,
.font-fallback h2,
.font-fallback .h2-like,
.font-fallback h3,
.font-fallback .h3-like,
.font-fallback h4,
.font-fallback .h4-like,
.font-fallback h5,
.font-fallback .h5-like,
.font-fallback h6,
.font-fallback .h6-like {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

* {
  font-family: inherit;
  font-size: inherit;
}

h1,
.h1-like,
h2,
.h2-like,
h3,
.h3-like,
h4,
.h4-like,
h5,
.h5-like,
h6,
.h6-like {
  font-family: "PT Sans Narrow", "Helvetica Neue", "Helvetica", Arial,
    sans-serif;
  font-weight: bold;
}

.font-fallback .normal, .normal {
  font-size: 1em;
  font-weight: normal;
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

h1,
.h1-like {
  font-size: 2.25rem;
  line-height: 1.1;
}
h2,
.h2-like {
  font-size: 1.75rem;
  line-height: 1.2;
}
h3,
.h3-like {
  font-size: 1.5rem;
  line-height: 1.3;
}
h4,
.h4-like {
  font-size: 1.125rem;
}
h5,
.h5-like {
  font-size: 1rem;
}
h6,
.h6-like {
  font-size: 0.875rem;
}

.inline-title {
  display: inline;
}

.separation,
.separation,
.separation {
  position: relative;
}
.separation::after,
.separation::after,
.separation::after {
  content: "";
  display: block;
  position: absolute;
  width: 3rem;
  left: 0;
  background: var(--color-brand-02);
  height: 0.15rem;
  bottom: -0.2em;
}
.separation--primary::after {
  background: var(--color-brand-01);
  height: 0.3rem;
  bottom: -0.2em;
}

p {
  font-size: 1rem;
  font-weight: normal;
  margin: calc(var(--base-spacing) * 4) 0;
}
.giga {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
}
.mega {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
}
@media screen and (min-width: 44em) {
  .giga {
    font-size: 4.5rem;
  }
  .mega {
    font-size: 2.5rem;
  }
}
p.big {
  font-size: 1.125rem;
}
p.small {
  font-size: 0.75rem;
}

a {
  text-decoration-style: underline;
  text-decoration-skip-ink: auto;
  color: var(--color-special-blue);
}
a:visited {
  color: var(--color-brand-03);
}
a:active,
a.active {
  color: var(--color-brand-01-dark);
}
a:hover,
a:focus {
  color: var(--color-brand-01);
}
a.title {
  color: var(--color-brand-01);
  font-weight: bold;
}
a.title:hover,
a.title:focus {
  color: var(--color-brand-01-dark);
}
a.discreet {
  color: inherit;
}
a.discreet:hover,
a.discreet:focus {
  color: var(--color-brand-01);
}

code, pre {
  background: var(--color-ui-02);
}
pre {
  max-width: 100%;
  overflow-x: auto;
}

time.date {
  color: var(--color-text-03);
}

.date-important {
  font-family: "PT Sans Narrow", "Helvetica Neue", "Helvetica", Arial,
  sans-serif;
  text-transform: uppercase;
  color: var(--color-text-03);
  font-weight: bold;
}
.font-fallback .date-important {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
