@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("/fonts/PT_Sans/PT_Sans-Web-Regular.ttf");
}
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans Narrow"), local("PTSans-Narrow"),
    url("/fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf");
}

html,
body {
  color: var(--color-text-1);
  font-size: 14px;
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.4;
}

* {
  font-size: inherit;
}

@media screen and (min-width: 400px) {
  html,
  body {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans Narrow", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1rem;
  font-weight: normal;
  margin: 1rem 0;
}
p.giga {
  font-size: 4.5rem;
  font-weight: bold;
}
p.mega {
  font-size: 3rem;
  font-weight: normal;
}
p.big {
  font-size: 1.125rem;
}
p.small {
  font-size: 0.75rem;
}

a {
  text-decoration-style: underline;
  text-decoration-skip-ink: auto;
  color: var(--color-special-blue);
}
a:active,
a.active {
  color: var(--color-brand-01-dark);
}
a:visited {
  color: var(--color-brand-03);
}
a:hover,
a:focus {
  color: var(--color-brand-01);
}

code {
  background: var(--color-ui-02);
}
