#live--video, #live--partenaires, #live--meta {
  margin: calc(var(--base-spacing) * 12) calc(var(--base-spacing) * 4) calc(var(--base-spacing) * 16);
}

@media (min-width: 68em) {
  #live--video {
    margin-left: auto;
    margin-right: auto;
    max-width: calc((100vw - calc(var(--base-spacing) * 8)) / 5 * 4);
  }
  #live--partenaires, #live--meta {
    margin-left: auto;
    margin-right: auto;
    max-width: calc((100vw - calc(var(--base-spacing) * 8)) / 3 * 2);
  }
}
