.content--2-cols .content__wrapper {
  display: flex;
  gap: calc(var(--base-spacing) * 4);
  flex-direction: column;
}

.content--2-cols .content__sidebar ul {
  list-style: none;
  padding-left: 0;
}

.content--2-cols .content__sidebar {
  border-top: 2px solid #e7e5ef;
}

@media screen and (min-width: 44em) {
  .content--2-cols .content__wrapper {
    flex-direction: row;
  }

  .content--2-cols .content__main {
    flex-basis: calc(100% * 2 / 3);
  }

  .content--2-cols .content__sidebar {
    border: none;
    flex-basis: calc(100% * 1 / 3);
    align-self: flex-start;
  }

  .content--2-cols .content__sidebar > * {
    padding-left: calc(var(--base-spacing) * 4);
    border-left: 2px solid #e7e5ef;
  }
}
