
.styleguide .styleguide-example-container {
  position: fixed;
  z-index: 200;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-ui-01);
  padding: calc(var(--base-spacing) * 10);
  max-height: 50vh;
  overflow: auto;
  border-top: 2px solid var(--color-ui-02);
}

.styleguide .content > h1 {
  position: relative;
}

.styleguide .content > h1::after {
  content: "";
  display: block;
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  bottom: -0.2em;
  left: 0;
  background: var(--color-brand-01);
}

.styleguide .content > h2 {
  position: relative;
}

.styleguide .content > h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 3rem;
  height: 0.15rem;
  bottom: -0.2em;
  left: 0;
  background: var(--color-brand-01);
}

.styleguide .content > h1,
.styleguide .content > h2 {
  margin: 3rem 0 1.5rem 0;
}
