<article class="actu-item {{ if .Get "inline" }}actu-item--inline{{ end }}">
    {{ if .Get "inline" }}
      <div class="actu-item__illustration">
        {{ if .Get "illustration" }}
          {{ $illustrationResource := (.Get "illustration") | .Page.Resources.GetMatch }}
          {{ $illustration := $illustrationResource.Fill "700x445" }}
          <img src="{{ $illustration.Permalink }}" alt="" />
        {{ end }}
      </div>
    {{ else }}
      {{ if .Get "illustration" }}
        {{ $illustrationResource := (.Get "illustration") | .Page.Resources.GetMatch }}
        {{ $illustration := $illustrationResource.Fill "800x300" }}
        <div class="actu-item__illustration">
          <img src="{{ $illustration.Permalink }}" alt="" />
        </div>
      {{ end }}
    {{ end }}
  <div class="actu-item__content headed-description">
    <h3 class="actu-item__title headed-description__title">
      <a href="{{ .Site.BaseURL }}{{ .Get "url" }}" class="discreet" rel="bookmark prefetch">{{ .Get "title" }}</a>
    </h3>
    <time datetime="{{ .Get "date" }}" class="date">{{ .Get "date" }}</time>
  
    <p class="actu-item__excerpt headed-description__description">
      {{ .Get "excerpt" }}
    </p>
  </div>
</article>