<article class="actu-phare">
  {{ if .Get "illustration" }}
    {{ $illustrationResource := (.Get "illustration") | .Page.Resources.GetMatch }}
    {{ $illustration := $illustrationResource.Fill "620x200" }}
    <img src="{{ $illustration.Permalink }}" alt="" class="actu-phare__illustration" />
  {{ end }}
  <h3 class="actu-phare__title">
    <a href="{{ .Get "url" }}" class="discreet" rel="bookmark prefetch">{{ .Get "titre" }}</a>
  </h3>
  <time datetime="{{ .Get "date" }}" class="date">{{ .Get "date" }}</time>

  <p class="actu-phare__excerpt">
    {{ .Get "résumé" }}
  </p>
</article>