<form id="search-filters">
  <div class="form-oneline form-oneline--inline">
    <div class="form-oneline__field form-field">
      <div class="form-field__label">
        <label for="search">Terme de recherche</label>
      </div>
      <div class="form-field__input" id="searchbox">
        <input type="text" id="search" placeholder="mot-clés, orateur/oratrice, tags, année, &hellip;" />
      </div>
    </div>
    <div class="form-oneline__action">
      <button class="btn">Rechercher</button>
    </div>
  </div>

  <div class="filters filters--oneline">
    <p class="filters__title">Filtres</p>
    <ul class="filters__list">
      {{ range ((where (sort (.Page.Resources.ByType "page") ".Params.order" "asc") ".Params.filter" true)) }}
        {{ .Scratch.Set "id" .Params.id }}
        {{ .Scratch.Set "name" .Params.name }}
        {{ .Scratch.Set "options" .Params.options }}
        {{ .Scratch.Set "type" .Params.type }}

        <li class="filter">
          <details class="filter__container">
            <summary class="filter__title">
              {{ .Scratch.Get "name" }}
              <svg class="icon icon--down-arrow" xmlns="http://www.w3.org/2000/svg" width="9" height="6" viewBox="0 0 9 6">
                  <path fill-rule="evenodd" d="M4.857 5.452h-.819L0 .959l.936-.9 3.079 2.718.421 1.075.351-1.075L7.866 0l.924.901z"/>
              </svg>
            </summary>
            <div class="filter__values" id="{{ .Scratch.Get "id" }}">
              {{ .Content }}
            </div>
          </details>
        </li>
      {{ end }}
    </ul>
  </div>
</form>

<div id="hits-count">
  1 conférence
</div>

<div id="hits" class="presentation-grid">
  <section class="presentation-preview">
    <div class="presentation-preview__media thumbnail">
      <a class="presentation-preview__link" href="https://www.paris-web.fr/2018/conferences/le-w3c-pour-les-developeurs-web.php">
        <img class="thumbnail__media" src="https://i.vimeocdn.com/video/732355433_640.jpg">
      </a>
      <span class="thumbnail__description">
        <span class="thumbnail__format">2018</span>
        <span class="thumbnail__duration">30 <abbr title="minutes">mn</abbr></span>
      </span>
    </div>
    <div class="presentation-preview__content">
      <h3 class="h4-like">
        <a class="discreet" href="https://www.paris-web.fr/2018/conferences/le-w3c-pour-les-developeurs-web.php">
          Le W3C pour les développeurs Web
        </a>
      </h3>
      <div>
        <a class="discreet" href="https://www.paris-web.fr/orateurs/dominique-hazael-massieux.php">Dominique Hazael-Massieux</a>
      </div>
      <div>
        <dl class="presentation-services">
          <dd><abbr title="Langue des signes française">LSF</abbr></dd>
          <dd>Français</dd>
        </dl>
      </div>
    </div>
  </section>

</div>

<div id="pagination">
  <ul class="pagination">
    <li class="pagination__item pagination__item--disabled">
      <span aria-label="Première page">&lt;&lt;</span>
    </li>
    <li class="pagination__item pagination__item--disabled">
      <span>
        <span aria-hidden="true">&lt;</span>
        Précédent
      </span>
    </li>
    <li class="pagination__item pagination__item--active">
      <a href="#1" aria-current="page">1</a>
    </li>
    <li class="pagination__item"><a href="#2">2</a></li>
    <li class="pagination__item"><a href="#3">3</a></li>
    <li class="pagination__item"><span>…</span></li>
    <li class="pagination__item"><a href="#10">10</a></li>
    <li class="pagination__item"><a href="#11">11</a></li>
    <li class="pagination__item">
      <a href="#next" rel="next">
        Suivant
        <span aria-hidden="true">&gt;</span>
      </a>
    </li>
    <li class="pagination__item">
      <a href="#end">
        <span aria-label="Dernière page">&gt;&gt;</span>
      </a>
    </li>
  </ul>
</div>
