<form id="search-filters">
  <div class="form-oneline form-oneline--inline">
    <div class="form-oneline__field form-field">
      <div class="form-field__label">
        <label for="search">Terme de recherche</label>
      </div>
      <div class="form-field__input" id="searchbox">
        <input type="text" id="search" placeholder="mot-clés, orateur/oratrice, tags, année, &hellip;" />
        <button class="filter__clear" type="button" id="clearSearch" hidden>
          <svg
            class="icon icon--close"
            xmlns="http://www.w3.org/2000/svg"
            width="10"
            height="10"
            viewBox="0 0 15 15"
            role="img"
            aria-label="Supprimer la recherche en cours"
          >
            <path
              fill="#000"
              d="M7.5 9.397l-4.94 5.145c-.585.61-1.535.61-2.12 0a1.609 1.609 0 0 1 0-2.21L5.078 7.5.439 2.667a1.609 1.609 0 0 1 0-2.21 1.458 1.458 0 0 1 2.122 0L7.5 5.604 12.44.458a1.458 1.458 0 0 1 2.12 0c.586.61.586 1.6 0 2.21L9.922 7.5l4.64 4.833c.585.61.585 1.6 0 2.21-.586.61-1.536.61-2.122 0L7.5 9.396z"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="form-oneline__action">
      <button class="btn">Rechercher</button>
    </div>
  </div>

  <div class="filters filters--oneline" hidden>
    <p class="filters__title">Filtres</p>
    <ul class="filters__list">
        <li class="filter" id="themes"></li>
        <li class="filter" id="duration"></li>
        <li class="filter" id="year"></li>
    </ul>
  </div>
</form>

<div id="hits-count"></div>

<div id="hits" class="presentation-grid">
  {{ range where (.Page.Resources.ByType "page") ".Params.event" true }}
    {{ .Scratch.Set "authors" (.Params.authors) }}
    {{ .Scratch.Set "title" .Params.title }}
    {{ .Scratch.Set "date" (.Date.Format "2006") }}
    {{ .Scratch.Set "duration" .Params.duration }}
    {{ .Scratch.Set "thumbnail" .Params.thumbnail }}
    {{ .Scratch.Set "services" .Params.services }}
    {{ .Scratch.Set "language" .Params.language }}
    {{ .Scratch.Set "subtitles" .Params.subtitles }}

    {{ partial "presentations/presentation-preview" . }}
  {{ end }} 
</div>

<div id="pagination">
  <ul class="pagination">
    <li class="pagination__item pagination__item--disabled">
      <span aria-label="Première page">&lt;&lt;</span>
    </li>
    <li class="pagination__item pagination__item--disabled">
      <span>
        <span aria-hidden="true">&lt;</span>
        Précédent
      </span>
    </li>
    <li class="pagination__item pagination__item--active">
      <a href="#1" aria-current="page">1</a>
    </li>
    <li class="pagination__item"><a href="#2">2</a></li>
    <li class="pagination__item"><a href="#3">3</a></li>
    <li class="pagination__item"><span>…</span></li>
    <li class="pagination__item"><a href="#10">10</a></li>
    <li class="pagination__item"><a href="#11">11</a></li>
    <li class="pagination__item">
      <a href="#next" rel="next">
        Suivant
        <span aria-hidden="true">&gt;</span>
      </a>
    </li>
    <li class="pagination__item">
      <a href="#end">
        <span aria-label="Dernière page">&gt;&gt;</span>
      </a>
    </li>
  </ul> 
</div>

<p class="align-right" hidden>
  <small id="powered-by-algolia"></small>
</p>
