<div class="presentation-grid">
    {{ range where (.Page.Resources.ByType "page") ".Params.event" true }}
        {{ .Scratch.Set "authors" (.Params.authors) }}
        {{ .Scratch.Set "title" .Params.title }}
        {{ .Scratch.Set "format" .Params.format }}
        {{ .Scratch.Set "duration" .Params.duration }}
        {{ .Scratch.Set "thumbnail" .Params.thumbnail }}
        {{ .Scratch.Set "services" .Params.services }}
        {{ .Scratch.Set "language" .Params.language }}
        {{ .Scratch.Set "subtitles" .Params.subtitles }}

        {{ partial "presentations/presentation-preview" . }}
    {{ end }}
</div>
