<aside class="fil-actu">
    <h3 class="separation fil-actu__title">Fil d’actualités</h3>

    <ul class="actu-list">
      {{ .Inner }}
    </ul>

    <footer class="fil-actu__more">
        <a href="#" class="title">
          Toute l'actualité de Paris Web
          <svg class="icon icon--left-arrow" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="9" height="18" viewBox="0 0 9 18">
              <path fill="#E11A81" fill-rule="evenodd" d="M9 8.064v1.68l-7.416 8.28-1.488-1.92 4.488-6.312 1.776-.864-1.776-.72L0 1.896 1.488 0z"/>
          </svg>
        </a>
    </footer>
</aside>