<div class="orateurs">
  {{ .Inner }}

  {{ if .Get "link" }}
    <div class="portrait orateurs__more">
      <div class="portrait__avatar">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="140" height="140" viewBox="0 0 140 140">
            <defs>
                <circle id="stroke" cx="70" cy="70" r="68.5"/>
            </defs>
            <g fill="none" fill-rule="evenodd">
                <mask id="b" fill="#fff">
                    <use xlink:href="#stroke"/>
                </mask>
                <use stroke="#C5C3CE" stroke-width="3" xlink:href="#stroke"/>
                <g fill-rule="nonzero" mask="url(#b)">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" stroke="#423F4A" d="M52.5 35 L 92.5 70 52.5 105"/>
                </g>
            </g>
        </svg>
      </div>
      <div class="portrait__links">&nbsp;</div>
      <div class="portrait__name h3-like">
        <a href="{{ .Get "link" }}" class="title">Voir tous les orateurs</a>
      </div>
    </div>
  {{ end }}
</div>