{{- .Scratch.Set "link" (.Get "link") -}}
{{- .Scratch.Set "avatar" (.Get "avatar") -}}
{{- .Scratch.Set "sponsor" (.Get "sponsor") -}}
{{- .Scratch.Set "name" (.Get "name") -}}
{{- .Scratch.Set "hideName" (.Get "hideName") -}}
{{- .Scratch.Set "twitter" (.Get "twitter") -}}
{{- .Scratch.Set "github" (.Get "github") -}}
{{- .Scratch.Set "website" (.Get "website") -}}
{{- .Scratch.Set "linkedin" (.Get "linkedin") -}}
{{- .Scratch.Set "description" .Inner -}}
{{ partial "portraits/portrait-long" . }}