{{ $resizeOptions := .Get "logoResizeOptions" }}
{{ $logo := (.Get "logo" | .Page.Resources.GetMatch).Resize $resizeOptions }}

{{ .Scratch.Set "name" (.Get "name") }}
{{ .Scratch.Set "hideDescription" (.Get "hideDescription") }}
{{ .Scratch.Set "logo" $logo.Permalink }}
{{ .Scratch.Set "description" .Inner }}
{{ .Scratch.Set "siteUrl" (.Get "siteUrl") }}
{{ if .Get "niveau" }}
    {{ .Scratch.Set "niveau" (.Get "niveau") }}
{{ else }}
    {{ .Scratch.Set "niveau" "autre" }}
{{ end }}

{{ partial "sponsors/sponsor" . }}