<p>Par <a href="{{ .Site.BaseURL }}pages/orateur" class="discreet important">{{ .Get "author" }}</a> ({{ .Get "type" }})</p>

<dl class="presentation-info">
    <!-- Ici c'est le format Atelier/Conférence -->
    <div class="presentation-info__item">
        <dt class="presentation-info__label">{{ .Get "format" }}&nbsp;:</dt>
        <dd class="presentation-info__value">
            {{ .Get "duration" | safeHTML }}
        </dd>
    </div>
    <div class="presentation-info__item">
        <dt class="presentation-info__label">Édition&nbsp;:</dt>
        <dd class="presentation-info__value">
            {{ .Get "edition" | safeHTML }}
        </dd>
    </div>
    <div class="presentation-info__item">
        <dt class="presentation-info__label">Langue&nbsp;:</dt>
        <dd class="presentation-info__value">{{ .Get "language" }}</dd>
    </div>
    <div class="presentation-info__item">
        <dt class="presentation-info__label">Sous-titres&nbsp;:</dt>
        <dd class="presentation-info__value">{{ .Get "subtitles" }}</dd>
    </div>
</dl>

<dl class="tag-list">
    {{- range (split (.Get "themes") ",") -}}
        <dd><a href="{{ $.Site.BaseURL }}pages/programme" class="tag">{{ . | safeHTML }}</a></dd>
    {{- end -}}
</dl>

{{ if .Get "video" }}
<iframe class="video" src="{{ .Get "video" }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{{ end }}
