<header  role="banner" tabindex="-1">
  <aside class="visually-hidden">
    <ul>
      <li><a href="#menu">Aller au menu</a></li>
      <li><a href="#main">Aller au contenu</a></li>
    </ul>
  </aside>

  <div>
    <a href="/"><img src="https://www.paris-web.fr/img/logo-parisweb.png" alt="Retour à l&#39;accueil - Paris Web, webdesign, accessibilité, qualité" width="129" height="59" /></a>
    <p>29 septembre 2016<br />1<sup>er</sup> octobre 2016</p>
  </div>

  <nav id="menu" role="navigation" tabindex="-1">
    <div>
      <input type="checkbox" id="affichage-menu">
      <label for="affichage-menu">
        <span id="affichage-menu-off">Afficher le menu</span>
        <span id="affichage-menu-on" class="is-hidden">Masquer le menu</span>
      </label>
    </div>
    <div name="menu" id="menu-contenu">
      <ul>
        <li><a href="#TODO/liste-conference">Conférences</a></li>
        <li><a href="#TODO/liste-atelier">Ateliers</a></li>
        <li><a href="#TODO/liste-orateur">Orateurs</a></li>
        <li><a href="http://shop.spreadshirt.fr/paris-web/">Boutique</a></li>
        <li><a href="#TODO/soutenez-nous">Soutenez-nous</a></li>
      </ul>
    </div>

    {{ partial "template/rechercher" . }}
  </nav>
</header>