<ul class="menu__sponsors">
    {{ with .Site.GetPage "page" "pages/sponsors/index.md" }}
            {{ $sponsorsResources := .Resources }}
            {{ range where (.Resources.ByType "page") ".Params.niveau" "platine" }}
                <li>
                    <a href="{{ .Params.siteUrl }}">
                        {{ $glob := printf "%s/nav-logo.png" .Params.logoDir }}
                        {{ $logo := ($sponsorsResources.GetMatch $glob).Resize "150x" }}
                        <img width="150px" src="{{ $logo.Permalink }}" alt="{{ .Title }}" title="">
                    </a>
                </li>
            {{ end }}
    {{ end }}

    <li><a href="{{ .Site.BaseURL }}pages/sponsors">Tous nos partenaires</a></li>
    <li><a href="{{ .Site.BaseURL }}pages/devenez-sponsor">Soutenez Paris Web</a></li>
</ul>
