<div class="menu__sponsors">
    <div class="menu__sponsors__title h2-like">Nos partenaires</div>

    {{ with .Site.GetPage "page" "pages/sponsors/index.md" }}
        <ul>
            {{ $sponsorsResources := .Resources }}
            {{ range where (.Resources.ByType "page") ".Params.niveau" "platine" }}
                <li>
                    {{ $glob := printf "%s/logo.*" .Params.logoDir }}
                    {{ $logo := ($sponsorsResources.GetMatch $glob).Resize "150x" }}
                    <a href="{{ .Params.siteUrl }}">
                        <img width="150" src="{{ $logo.Permalink }}" alt="{{ .Title }}" title="">
                    </a>
                    </li>
            {{ end }}
        </ul>
    {{ end }}

    <a href="{{ .Site.BaseURL }}pages/sponsors">Tous nos partenaires</a>
    <a href="{{ .Site.BaseURL }}pages/devenez-sponsor">Soutenez Paris Web</a>
</div>