<div class="nav">
    <header class="header" role="banner" tabindex="-1">
        <div class="header__menu-button">
            <button class="js-open-menu open-menu">
                <svg class="icon icon--menu" xmlns="http://www.w3.org/2000/svg" width="30" height="15" viewBox="0 0 30 15">
                    <path fill="#585462" fill-rule="evenodd" d="M28.521 5.625c.377.006.752.158 1.04.458.37.385.506.92.409 1.417a1.604 1.604 0 0 1-.41 1.417c-.287.3-.662.452-1.039.458l-4.96 5.167c-.586.61-1.536.61-2.122 0a1.609 1.609 0 0 1 0-2.21L26.08 7.5l-4.64-4.833a1.609 1.609 0 0 1 0-2.21 1.458 1.458 0 0 1 2.122 0l4.96 5.168zM1.5 0h15a1.5 1.5 0 0 1 0 3h-15a1.5 1.5 0 0 1 0-3zm0 6h18a1.5 1.5 0 0 1 0 3h-18a1.5 1.5 0 0 1 0-3zm0 6h15a1.5 1.5 0 0 1 0 3h-15a1.5 1.5 0 0 1 0-3z"/>
                </svg>
                Menu
            </button>
        </div>

        <div class="header__about">
            <div class="logo">
                <a href="{{.Site.BaseURL}}">
                    <img src="{{.Site.BaseURL}}images/logo/logo.svg" role="img" width="178" height="80" alt="Retourner à la page d'accueil" title="Retourner à la page d'accueil"/>
                </a>
            </div>

            <p class="date">
                <span class="date-important">Du <time datetime="2018-10-04T09:00">4</time> au <time datetime="2018-10-06T18:00">6 octobre 2018</time></span>
            </p>
        </div>
    </header>
    <nav class="menu" id="menu" role="navigation">
        <div class="menu__overlay js-close-menu"></div>
        <div class="menu__content" tabindex="-1">
            <button class="close-menu js-close-menu" title="Revenir au contenu">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" role="img" aria-label="Fermer">
                    <path fill="#000" fill-rule="evenodd" d="M7.5 9.397l-4.94 5.145c-.585.61-1.535.61-2.12 0a1.609 1.609 0 0 1 0-2.21L5.078 7.5.439 2.667a1.609 1.609 0 0 1 0-2.21 1.458 1.458 0 0 1 2.122 0L7.5 5.604 12.44.458a1.458 1.458 0 0 1 2.12 0c.586.61.586 1.6 0 2.21L9.922 7.5l4.64 4.833c.585.61.585 1.6 0 2.21-.586.61-1.536.61-2.122 0L7.5 9.396z"/>
                </svg>
            </button>
            <div class="menu__content__wrapper">
                <div class="menu__head">
                    <div class="logo">
                        <a href="/">
                            <img src="{{.Site.BaseURL}}images/logo/logo.svg" role="img" style="width: 10em; height: 4.5em" alt="Retourner à la page d'accueil" title="Retourner à la page d'accueil"/>
                        </a>
                    </div>

                    <p class="date">
                        <span class="date-important">Du <time datetime="2018-10-04T09:00">4</time> au <time datetime="2018-10-06T18:00">6 octobre 2018</time></span>
                    </p>
                </div>

                <div class="menu__links">
                    <ul>
                        <li>
                            <a class="h3-like" href="{{ .Site.BaseURL }}pages/programme-jour">
                                <span>Programme</span>
                            </a>
                        </li>
                        <li>
                            <a class="h3-like" href="{{ .Site.BaseURL }}pages/archives">
                                <span>Archives</span>
                            </a>
                        </li>
                        <li>
                            <a class="h3-like" href="modules/sidebar">
                                <span>Orateurs</span>
                            </a>
                        </li>
                        <li>
                            <a class="h3-like" href="https://shop.spreadshirt.fr/paris-web/">
                                <span>Boutique</span>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a class="h3-like" href="{{.Site.BaseURL}}pages/resultats-recherche-vide/">
                                <span>
                                    Rechercher
                                    <svg class="icon icon--search" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" role="img" aria-hidden="true">
                                        <path fill="#000" fill-rule="evenodd" d="M15.175 16.71a9 9 0 1 1 2.121-2.121l6.806 6.806-2.122 2.121-6.805-6.805zm-.973-3.093A6 6 0 1 0 5.717 5.13a6 6 0 0 0 8.485 8.486z"/>
                                    </svg>

                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                {{ partial "template/nav-sponsor.html" . }}
            </div>
        </div>
    </nav>
</div>