<footer role="contentinfo" id="footer" class="footer">
  <section aria-labelledby="paris-web">
    <h2 id="paris-web">Paris Web</h2>
    <ul>
      <li>
        <ul>
          <li><a href="#TODO/association">L’association Paris-Web</a></li>
          <li><a href="#TODO/contact">Nous contacter</a></li>
          <li><a href="#TODO/ils-nous-soutiennent">Nos partenaires</a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><a href="#TODO/code-de-conduite">Code de conduite</a></li>
          <li><a href="#TODO/promotion">Logo Paris Web</a></li>
          <li><a href="#TODO/presse">Informations pour la presse</a></li>
        </ul>
      </li>
      <li>
        Retrouvez les anciennes éditions :<br />
        <a href="#">2015</a>,
        <a href="#">2014</a>,
        <a href="#">2013</a>,
        <a href="#">2012</a>,
        <a href="#">2011</a>,
        <a href="#">2010</a>,
        <a href="#">2009</a>,
        <a href="#">2008</a>,
        <a href="#">2007</a>
        et <a href="#">2006</a>.
      </li>
    </ul>
  </section>
  <section aria-labelledby="about-us">
    <h2 id="about-us">À propos</h2>
    <p>Les conférences et ateliers Paris Web sont organisés par l’association à but non lucratif Paris-Web.</p>
    <p>Les informations contenues dans ces pages peuvent faire l’objet d’un changement ultérieur. En particulier, la liste des sujets présentés, la liste des conférenciers présents, les horaires, ainsi que le lieu ou les dates de l’événement ne représentent pas un engagement formel de la part de l’association Paris-Web. Nous ne saurions être tenus responsables d’un changement de dernière minute.<br />Consultez nos <a href="#TODO/legal">conditions générales et informations légales</a>.</p>
    <p>Le site Paris Web est hébergé gracieusement par <a href="http://www.gandi.net">Gandi</a>. La police est l’œuvre de <a href="//ospublish.constantvzw.org/foundry/">OSP Foundry</a>.</p>
  </section>
</footer>