@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("/fonts/PT_Sans/PT_Sans-Web-Regular.ttf");
}
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans Narrow"), local("PTSans-Narrow"),
    url("/fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf");
}
