{{ define "main" }}
  <div class="content content--2-cols">
    <div class="breadcrumb">
        <p class="screen-reader">Vous êtes ici :</p>
        <ol>
          <li>
            <a href="{{.Site.BaseURL}}">Accueil</a>
          </li>
          <li>
            <a href="{{.Site.BaseURL}}pages/actualites">Actualités</a>
          </li>
          <li>
            <span aria-current="page">
            {{ .Title }}
          </span>
        </li>
      </ol>
    </div>

    <h1 class="separation separation--primary">
      {{ .Title }}
    </h1>

    <div class="content__wrapper">
      <div class="content__main">
        {{ if not .Date.IsZero }}
          <time datetime="16 janvier 2018" class="date big">16 janvier 2018</time>
        {{ end }}
        {{ .Content }}
      </div>

      <aside class="content__sidebar fil-actu">
          <h3 class="separation fil-actu__title">Fil d’actualités</h3>

          <ul class="actu-list">
            {{/* TODO Use < fil-actu > */}}
            <li class="actu-list__item">
                <a href="{{ .Site.BaseURL }}pages/actualite" class="discreet">Des vœux, des dates et des tarifs pour Paris Web 2018</a>
                <time datetime="2017-10-16" class="date">16 octobre 2017</time>
            </li>
            <li class="actu-list__item">
                <a href="{{ .Site.BaseURL }}pages/actualite" class="discreet">En chemin vers Paris Web 2018 !</a>
                <time datetime="2017-10-03" class="date">3 octobre 2017</time>
            </li>
            <li class="actu-list__item">
                <a href="{{ .Site.BaseURL }}pages/actualite" class="discreet">Devenir membre bénévole pour Paris Web 2018, pourquoi, comment ?</a>
                <time datetime="2017-09-28" class="date">28 septembre 2017</time>
            </li>
            <li class="actu-list__item">
                <a href="{{ .Site.BaseURL }}pages/actualite" class="discreet">Paris Web 2017, c'est fini !</a>
                <time datetime="2017-11-03" class="date">3 novembre 2017</time>
            </li>
            {{/* TODO < /fil-actu > */}}
          </ul>

          <footer class="fil-actu__more">
              <a href="{{ .Site.BaseURL }}pages/actualites" class="title">
                Toute l'actualité de Paris Web
                <svg class="icon icon--left-arrow" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="9" height="18" viewBox="0 0 9 18">
                    <path fill="#E11A81" fill-rule="evenodd" d="M9 8.064v1.68l-7.416 8.28-1.488-1.92 4.488-6.312 1.776-.864-1.776-.72L0 1.896 1.488 0z"/>
                </svg>
              </a>
          </footer>
      </aside>
    </div>
  </div>
{{ end }}