{{ define "main" }}
  <div class="content" style="display:flex">
    <div>
     
    <div class="breadcrumb">
        <p class="screen-reader">Vous êtes ici :</p>
        <ol>
          <li>
            <a href="{{.Site.BaseURL}}">Accueil</a>
          </li>
          <li>
            <a href="#">Actualités</a>
          </li>
          <li>
              <span aria-current="page">
            {{ .Title }}
          </span>
        </li>
      </ol>
    </div>

      {{ .Content }}
    </div>

    <div style="width:20vw; margin-left: 4em; padding: 2em 1em;">
      Je suis la sidebar !

      <ul>
        <li><a href="">Coucou</a></li>
        <li><a href="">Hello</a></li>
        <li><a href="">Lorem</a></li>
        <li><a href="">Ahah</a></li>
      </ul>
    </div>
  </div>
{{ end }}