{{ partial "header" . }}

<a class="back-to-design-system" href="{{ .Site.BaseURL }}">Revenir au Design System</a>
<a class="go-to-content screen-reader screen-reader-focusable" href="#main">Aller au contenu</a>

<header class="header header--direct" role="banner" tabindex="-1">
  <div class="header__about">
    <div class="logo">
      <a href="{{.Site.BaseURL}}">
        <img src="{{.Site.BaseURL}}images/logo/logo.svg" role="img" width="178" height="80" alt="Retourner à la page d'accueil" title="Retourner à la page d'accueil"
        />
      </a>
    </div>

    <h1 class="header__slogan h3-like">
      <span class="date-important">Du
        <time datetime="2018-10-04T09:00">4</time> au
        <time datetime="2018-10-06T18:00">6 octobre 2018</time>
      </span>
      <br /> Suivez en direct la conférence des gens qui font le web
    </h1>

    <a href="#" class="header__back">Retour au site</a>
  </div>
</header>

<main class="direct" id="main" tabindex="-1">
  <div class="direct__video">
    {{ .Content }}
  </div>

  <div class="direct__footer">
    <section>
      <h2 class="separation">Sponsors</h2>
      TODO
    </section>
    <section>
      <h2 class="separation">Revoir les conférences</h2>
      TODO
    </section>
  </div>
</main>

{{ partial "footer" . }}