<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{{ $.Site.Title }}</title>
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/styleguide-hub.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{.Site.BaseURL}}apple-touch-icon.png?2020">
    <link rel="icon" type="image/png" sizes="32x32" href="{{.Site.BaseURL}}favicon-32x32.png?2020">
    <link rel="icon" type="image/png" sizes="16x16" href="{{.Site.BaseURL}}favicon-16x16.png?2020">
    <link rel="icon shortcut" type="image/x-icon" href="{{.Site.BaseURL}}favicon.ico?2020">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="styleguide hub">

<a class="back-to-design-system" href="{{ .Site.BaseURL }}">Revenir au Design System</a>
<a class="go-to-content screen-reader screen-reader-focusable" href="#main">Aller au contenu</a>

  <header class="header--hub" role="banner">
    <div class="logo">
      <img src="{{.Site.BaseURL}}images/hub-2020/logo-pw2020.svg" alt="Paris Web 2020" />
    </div>
  </header>

<main class="direct" id="main" tabindex="-1">
  <details open class="hub--details hub--welcome--container" id="details_welcome">
    <summary>
      <span class="btn btn-no-margin btn-small btn-link hub--details--hiddenSummary hub--details--show-on-open">Cacher ce message</span>
      <span class="btn btn-no-margin btn-small btn-link hub--details--hiddenSummary hub--details--show-on-closed">Montrer le message de bienvenue</span>
    </summary>
    <div class="hub--welcome">
      <img src="{{.Site.BaseURL}}images/hub-2020/hero.svg" alt="" class="hub--welcome--hero" aria-hidden />
      <h1 class="visuallyhidden">Paris Web 2020</h1>
      <div class="hub--welcome--texte">
        <p class="big">
          Bienvenue sur le live en ligne de l’édition 2020 de Paris Web&nbsp;!
        </p>
        <p class="big">
          Le <a href="https://www.paris-web.fr/2020/">programme des conférences</a> est disponible sur le site de Paris Web.
        </p>
        <p class="big">
          N'hésitez pas à partager votre expérience et les moments forts de l’événement sur vos réseaux favoris avec le hastag #ParisWeb&nbsp;!
        </p>
      </div>
    </div>      
  </details>


  <section class="hub--box" id="live--video">
    <div class="hub--video">
      {{ .Content }}
    </div>
<!--     <div class="hub--dualBlocks">
      <div class="direct__titre">
        <p>Vous regardez le flux
          <strong>Amphitorium Descarte</strong>
          <a href="#" class="btn btn-small">Voir le flux Amphitorium Pascal</a>
        </p>
      </div>
    </div> -->
  </section>

  <section id="live--meta" class="hub--box">
    <div class="hub--dualBlocks">
      <div class="menu--soutien">
        <a class="menu--soutien--img" href="https://shop.spreadshirt.fr/paris-web/">
          <img src="{{.Site.BaseURL}}images/hub-2020/tshirts.png" class="img--boutique" alt="" aria-hidden />
          <span class="btn btn-small btn-primary btn-fluid btn-no-margin">
            Découvrir la boutique
          </span>
        </a>
        <a class="btn btn-small btn-fluid btn-no-margin" href="https://www.paris-web.fr/soutenez-paris-web.php">
          Soutenir Paris Web
        </a>
      </div>
      <hr />
      <div>
        <h2 class="separation">Revoir les conférences</h2>
        <ul>
          <li>
            <a
              data-href="https://www.youtube.com/watch?v=VcWTNi7iowI"
              data-enabled-at-start="2020-10-01 13:00:00"
              data-enabled-at-end="2020-12-31 23:59:59"
            >
              1/10 matin
            </a>
          </li>
          <li>
            <a
              data-href="https://www.youtube.com/watch?v=utOinTA0GAQ"
              data-enabled-at-start="2020-10-02 18:00:00"
              data-enabled-at-end="2020-12-31 23:59:59"
            >
              1/10 après-midi
            </a>
          </li>
          <li>
            <a
              data-href="https://www.youtube.com/watch?v=J8RYKLp--9w"
              data-enabled-at-start="2020-10-02 13:00:00"
              data-enabled-at-end="2020-12-31 23:59:59"
            >
              2/10 matin
            </a>
          </li>
          <li>
            <a
              data-href="https://www.youtube.com/watch?v=oK67_Pr_hw8"
              data-enabled-at-start="2020-10-02 18:00:00"
              data-enabled-at-end="2020-12-31 23:59:59"
            >
              2/10 après-midi
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="hub--box" id="live--partenaires">
    <h2 class="no-top-margin">Partenaires</h2>
    <p class="big">Nous tenons à remercier nos partenaires pour leur soutien, tout particulièrement en cette année si spéciale&nbsp;!</p>

    <div class="simpleSponsor-section simpleSponsor-section--bronze">
      <div class="simpleSponsor-section__sponsors">
        <article class="simpleSponsor simpleSponsor--bronze" id="balsamiq">
          <a class="simpleSponsor__link" href="https://balsamiq.com">
            <img src="https://www.paris-web.fr/img/partenaires/2020/logo-balsamiq.svg" alt="Balsamiq">
          </a>
        </article>
        <article class="simpleSponsor simpleSponsor--bronze" id="mediapart">
          <a class="simpleSponsor__link" href="https://www.mediapart.fr">
            <img src="https://www.paris-web.fr/img/partenaires/2020/logo-mediapart.svg" alt="Médiapart">
          </a>
        </article>
        <article class="simpleSponsor simpleSponsor--bronze" id="temesis">
          <a class="simpleSponsor__link" href="https://temesis.com/">
            <img src="https://www.paris-web.fr/img/partenaires/2020/logo-temesis.png" alt="Temesis">
          </a>
        </article>
        <article class="simpleSponsor simpleSponsor--bronze" id="opquast">
          <a class="simpleSponsor__link" href="https://www.opquast.com/">
            <img src="https://www.paris-web.fr/img/partenaires/2020/logo-opquast.svg" alt="Opquast">
          </a>
        </article>
        <article class="simpleSponsor simpleSponsor--bronze" id="gandi">
          <a class="simpleSponsor__link" href="https://www.gandi.net/fr">
            <img src="https://www.paris-web.fr/img/partenaires/2020/logo-gandi.svg" alt="Gandi">
          </a>
        </article>
        <article class="simpleSponsor simpleSponsor--bronze" id="editions-eyrolles">
          <a class="simpleSponsor__link" href="https://www.editions-eyrolles.com/">
            <img src="https://www.paris-web.fr/img/partenaires/2020/logo-eyrolles.svg" alt="Éditions Eyrolles">
          </a>
        </article>
        <article class="simpleSponsor simpleSponsor--bronze" id="epitech-digital">
            <a class="simpleSponsor__link" href="https://www.epitech.eu/digital/">
                <img src="https://www.paris-web.fr/img/partenaires/2020/logo-epitech-digital.png" alt="Epitech Digital">
            </a>
        </article>
        <article class="simpleSponsor simpleSponsor--bronze" id="authot">
          <a class="simpleSponsor__link" href="https://www.authot.com/fr/">
            <img src="https://www.paris-web.fr/img/partenaires/2020/logo-authot.png" alt="Authôt">
          </a>
        </article>
        <article class="simpleSponsor simpleSponsor--bronze" id="ideance">
          <a class="simpleSponsor__link" href="https://ideance.net/">
            <img src="https://www.paris-web.fr/img/partenaires/2020/logo-ideance.svg" alt="ideance" style="max-height: 45px;">
          </a>
        </article>
      </div>
    </div>
  </section>

</main>


  <footer class="footer--hub">
    <div class="logo">
      <a href="https://www.paris-web.fr/">
        <img src="{{.Site.BaseURL}}images/logo/2019/logo-rond.svg" alt="Visiter le site paris-web.fr" />
      </a>
    </div>
    <div class="text">
      <p class="small">Depuis 2006, Paris Web est le rendez-vous incontournable des professionnels francophones du Web. Les conférences et ateliers Paris Web sont organisés par l’association à but non lucratif Paris Web.</p>
    </div>
    <div>
      <ul class="link-list">
        <li>
          <a href="https://www.paris-web.fr/association/">Qui sommes-nous&nbsp;?</a>
        </li>
        <li>
          <a href="https://www.paris-web.fr/contact/">Nous contacter</a>
        </li>
        <li>
          <a href="https://www.paris-web.fr/">Le site paris-web.fr</a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="link-list">
        <li>
          <a href="https://www.paris-web.fr/aide/">Aide</a>
        </li>
        <li>
          <a href="https://www.paris-web.fr/code-de-conduite.php">Code de conduite</a>
        </li>
        <li>
          <a href="https://www.paris-web.fr/partenaires.php">Partenaires</a>
        </li>
      </ul>
    </div>
  </footer>

  <script src="{{.Site.BaseURL}}hub_live.js"></script>

{{ partial "footer" . }}
