<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{{ $.Site.Title }}</title>
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/styleguide-hub.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{.Site.BaseURL}}apple-touch-icon.png?2021">
    <link rel="icon" type="image/png" sizes="32x32" href="{{.Site.BaseURL}}favicon-32x32.png?2021">
    <link rel="icon" type="image/png" sizes="16x16" href="{{.Site.BaseURL}}favicon-16x16.png?2021">
    <link rel="icon shortcut" type="image/x-icon" href="{{.Site.BaseURL}}favicon.ico?2021">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="styleguide hub">
  <a class="back-to-design-system" href="{{ .Site.BaseURL }}">Revenir au Design System</a>
  <a class="go-to-content screen-reader screen-reader-focusable" href="#main">
    Aller au contenu
  </a>

  <header class="header--hub" role="banner">
    <div class="logo">
      <img src="{{.Site.BaseURL}}images/hub-2021/logo-pw2021.svg" alt=""  id="hub-logo"/>
    </div>

    <div class="toggle-switch">
      <input type="checkbox" id="dark-mode-switch">
      <label for="dark-mode-switch">
        <span class="control"></span>
        <span class="text">mode sombre <span></span></span>
      </label>
    </div>
  </header>



  <main class="main--hub" id="main" tabindex="-1">
    <section class="hub--box hub--auth" id="auth-block">
      <div class="hub--dualBlocks">
        <div>
          <h2 class="no-top-margin">Authentifiez-vous</h2>
          <form action="">
            <p>Une adresse e-mail d’authentification vous a été communiquée par e-mail.</p>
            <div class="form-field">
              <div class="form-field__label">
                <label for="email">E-mail</label>
              </div>
              <div class="form-field__input form-field__input--primary">
                <input name="email" id="email" type="email" />
              </div>
            </div>

            <div class="form-field form-field--button">
              <button type="submit" class="btn btn-primary btn-no-margin btn-fluid">
                Envoyer
              </button>
            </div>
          </form>
        </div>
        <hr>
        <div>
          <h3 class="no-top-margin no-bottom-margin">Pas encore inscrit·e&nbsp;?</h3>
          <p>En vous inscrivant à l’édition de Paris Web 2021, vous accéderez au salon de discussion sur Slack ainsi qu’aux sessions de questions/réponses avec les orateurs et oratrices.</p>
          <a href="https://www.helloasso.com/associations/paris-web/evenements/paris-web-2021/" class="btn btn-no-margin btn-fluid">
            Je m’inscris sans hésiter&nbsp;!
          </a>
          <p>Besoin d’aide&nbsp;?
            <a href="https://www.paris-web.fr/aide/">Consultez l’aide</a> ou
            <a href="https://www.paris-web.fr/contact/">contactez Paris Web</a>.
          </p>
        </div>
      </div>
    </section>

    <div id="content-block" >
      <details open class="hub--details hub--welcome--container" id="details_welcome">
        <summary>
          <span class="btn btn-no-margin btn-small btn-link hub--details--hiddenSummary hub--details--show-on-open">Cacher ce message</span>
          <span class="btn btn-no-margin btn-small btn-link hub--details--hiddenSummary hub--details--show-on-closed">Montrer le message de bienvenue</span>
        </summary>
        <div class="hub--welcome">
          <img src="{{.Site.BaseURL}}images/hub-2021/hero.svg" alt="" class="hub--welcome--hero" aria-hidden />
          <h1 class="visuallyhidden">Paris Web 2021</h1>
          <div class="hub--welcome--texte">
            <p class="big">
              Bienvenue aux conférences en ligne de l’édition 2021 de Paris Web&nbsp;!
            </p>
            <p class="big">
              Vous trouverez ici tous les contenus et outils pour suivre les conférences, poser vos questions aux orateurs et oratrices intervenant cette année et échanger avec toute la communauté.
            </p>
            <p class="big">
              N'hésitez pas à partager votre expérience et les moments forts de l’événement sur vos réseaux favoris avec le hastag #ParisWeb&nbsp;!
            </p>
          </div>
        </div>      
      </details>

      <div class="hub--grid">
        <div class="hub--grid--menu">
          <aside class="hub--grid--sticky">
            <div class="hub--box">
              <h2 class="visuallyhidden">Liens</h2>
              <h3 class="half-bottom-margin no-top-margin">Sur cette page</h3>
              <ul class="link-list">
                <li class="big">
                  <a href="#conference">Visionner la conférence en cours</a>
                </li>
                <li class="big">
                  <a href="#programme">Consulter le programme</a>
                </li>
                <li class="big">
                  <a href="#communaute">Discuter avec la communauté</a>
                </li>
              </ul>
              <h3 class="half-bottom-margin">Liens externes</h3>
              <ul class="link-list">
                <li class="big">
                  <a href="https://www.paris-web.fr/aide/">Obtenir de l’aide</a>
                </li>
                <li class="big">
                  <a href="https://www.paris-web.fr/code-de-conduite.php">Voir le code de conduite</a>
                </li>
              </ul>
              <a class="btn btn-small btn-fluid btn-no-margin" href="https://www.helloasso.com/associations/paris-web/evenements/paris-web-2021/">
                S’inscrire aux ateliers
              </a>
            </div>
            <div class="hub--box menu--soutien">
              <a class="menu--soutien--img" href="https://shop.spreadshirt.fr/paris-web/">
                <img src="{{.Site.BaseURL}}images/hub-2021/tshirts.png" class="img--boutique" alt="" aria-hidden />
                <span class="btn btn-small btn-primary btn-fluid btn-no-margin">
                  Découvrir la boutique
                </span>
              </a>
              <a class="btn btn-small btn-fluid btn-no-margin" href="https://www.paris-web.fr/soutenez-paris-web.php">
                Soutenir Paris Web
              </a>
            </div>
          </aside>
        </div>
        <div class="hub--grid--content">
          <section class="hub--box" id="conference">
            <h2 class="no-top-margin">Conférence</h2>
            <p>Les conférences seront diffusées directement sur cette page le jeudi 1 et le vendredi 2 octobre.</p>
            <p>Chaque conférence sera sous-titrée en français (y compris les conférences en anglais) et suivie d’une session de questions/réponses en direct avec l’oratrice ou l’orateur.</p>
            <p>Pour les sessions de questions/réponses, nous avons décidé d’utiliser Zoom et ces sessions seront directement accessibles depuis votre navigateur.</p>
          </section>

          <section class="hub--box" id="conference">
            <h2 class="no-top-margin">Conférence</h2>

            <div class="hub--video">
              {{ .Content }}
            </div>
          </section>

          <section class="hub--box hub--program" id="programme">
            <h2 class="no-top-margin">Programme</h2>

            <details open class="hub--details hub--details--program" id="details_programme_jeudi">
              <summary>
                <h3>
                  Jeudi 1er octobre
                  <small class="hub--details--hiddenSummary hub--details--show-on-open">
                    masquer
                  </small>
                  <small class="hub--details--hiddenSummary hub--details--show-on-closed">
                    afficher
                  </small>
                </h3>
              </summary>

              <div class="hub--program--day">
                <div class="hub--program--item">
                  <div class="hub--program--conference">
                    <p class="hub--program--time h3-like no-top-margin no-bottom-margin">
                      <time datetime="2021-10-01 09:30:00">09<abbr title="heures">h</abbr>30</time> – <time datetime="2021-10-01 10:20:00">10<abbr title="heures">h</abbr>20</time>
                    </p>
                    <h4 class="no-top-margin no-bottom-margin">
                      <a class="discreet" href="https://www.paris-web.fr/2021/conferences/communiquer-a-distance-de-maniere-accessible.php">Communiquer à distance de manière accessible</a>
                    </h4>
                    <p class="no-top-margin no-bottom-margin">
                      <a class="h5-like discreet" href="https://www.paris-web.fr/orateurs/sylvie-duchateau.php">Sylvie Duchateau</a><br>
                      conférence, 50 minutes<br>
                      français, sous-titré
                    </p>
                  </div>
                </div>

                <div class="hub--program--item">
                  <div class="hub--program--conference">
                    <p class="hub--program--time h3-like no-top-margin no-bottom-margin">
                      <time datetime="2021-10-01 10:30:00">10<abbr title="heures">h</abbr>30</time> – <time datetime="2021-10-01 11:00:00">11<abbr title="heures">h</abbr>00</time>
                    </p>
                    <h4 class="no-top-margin no-bottom-margin">
                      <a class="discreet" href="https://www.paris-web.fr/2021/conferences/des-proprietes-personnalisees-tres-tres-personnalisees.php">Des propriétés personnalisées très, très personnalisées</a>
                    </h4>
                    <p class="no-top-margin no-bottom-margin">
                      <a class="h5-like discreet" href="https://www.paris-web.fr/orateurs/gael-poupard.php">Gaël Poupard</a><br>
                      mini-conférence, 30 minutes<br>
                      français, sous-titré
                    </p>
                  </div>
                </div>

                <div class="hub--program--item">
                  <div class="hub--program--conference">
                    <p class="hub--program--time h3-like no-top-margin no-bottom-margin">
                      <time datetime="2021-10-01 11:10:00">11<abbr title="heures">h</abbr>10</time> – <time datetime="2021-10-01 12:00:00">12<abbr title="heures">h</abbr>00</time>
                    </p>
                    <h4 class="no-top-margin no-bottom-margin">
                      <a class="discreet" href="https://www.paris-web.fr/2021/conferences/against-an-increasingly-user-hostile-web.php">Against an Increasingly User-Hostile Web</a>
                    </h4>
                    <p class="no-top-margin no-bottom-margin">
                      <a class="h5-like discreet" href="https://www.paris-web.fr/orateurs/parimal-satyal.php">Parimal Satyal</a><br>
                      conférence, 50 minutes<br>
                      anglais, sous-titré
                    </p>
                  </div>
                </div>

                <div class="hub--program--break">
                  Pause déjeuner
                </div>

                <div class="hub--program--item" aria-current="true">
                  <div class="hub--program--conference">
                    <p class="hub--program--time h3-like no-top-margin no-bottom-margin">
                      <time datetime="2021-10-01 13:30:00">13<abbr title="heures">h</abbr>30</time> – <time datetime="2021-10-01 14:00:00">14<abbr title="heures">h</abbr>00</time>
                    </p>
                    <h4 class="no-top-margin no-bottom-margin">
                      <a class="discreet" href="https://www.paris-web.fr/2021/conferences/oh-mes-cookies.php">Oh mes cookies&nbsp;!</a>
                    </h4>
                    <p class="no-top-margin no-bottom-margin">
                      <a class="h5-like discreet" href="https://www.paris-web.fr/orateurs/laurie-anne-bourdain.php">Laurie-Anne Bourdain</a><br>
                      mini-conférence, 30 minutes<br>
                      français, sous-titré
                    </p>
                  </div>
                </div>

                <div class="hub--program--item">
                  <div class="hub--program--conference">
                    <p class="hub--program--time h3-like no-top-margin no-bottom-margin">
                      <time datetime="2021-10-01 14:10:00">14<abbr title="heures">h</abbr>10</time> – <time datetime="2021-10-01 15:00:00">15<abbr title="heures">h</abbr>00</time>
                    </p>
                    <h4 class="no-top-margin no-bottom-margin">
                      <a class="discreet" href="https://www.paris-web.fr/2021/conferences/le-recrutement-dans-la-tech-contradictions-et-illusions.php">Le recrutement dans la tech, contradictions et illusions</a>
                    </h4>
                    <p class="no-top-margin no-bottom-margin">
                      <a class="h5-like discreet" href="https://www.paris-web.fr/orateurs/marie-holzer.php">Marie Holzer</a><br>
                      conférence, 50 minutes<br>
                      français, sous-titré
                    </p>
                  </div>
                </div>

                <div class="hub--program--item">
                  <div class="hub--program--conference">
                    <p class="hub--program--time h3-like no-top-margin no-bottom-margin">
                      <time datetime="2021-10-01 15:10:00">15<abbr title="heures">h</abbr>10</time> – <time datetime="2021-10-01 15:40:00">15<abbr title="heures">h</abbr>40</time>
                    </p>
                    <h4 class="no-top-margin no-bottom-margin">
                      <a class="discreet" href="https://www.paris-web.fr/2021/conferences/trucs-et-astuces-pour-construire-une-single-page-app-accessible.php">Trucs et astuces pour construire une Single Page App accessible</a>
                    </h4>
                    <p class="no-top-margin no-bottom-margin">
                      <a class="h5-like discreet" href="https://www.paris-web.fr/orateurs/mael-brunet.php">Maël Brunet</a><br>
                      mini-conférence, 30 minutes<br>
                      français, sous-titré
                    </p>
                  </div>
                </div>

                <div class="hub--program--item">
                  <div class="hub--program--conference">
                    <p class="hub--program--time h3-like no-top-margin no-bottom-margin">
                      <time datetime="2021-10-01 15:50:00">15<abbr title="heures">h</abbr>50</time> – <time datetime="2021-10-01 16:40:00">16<abbr title="heures">h</abbr>40</time>
                    </p>
                    <h4 class="no-top-margin no-bottom-margin">
                      <a class="discreet" href="https://www.paris-web.fr/2021/conferences/fake-green-tech-comprendre-linteret-dun-numerique-responsable.php">“Fake” Green Tech&nbsp;: comprendre l’intérêt d’un Numérique Responsable</a>
                      </a>
                    </h4>
                    <p class="no-top-margin no-bottom-margin">
                      <a class="h5-like discreet" href="https://www.paris-web.fr/orateurs/romuald-priol.php">Romuald Priol</a><br>
                      conférence, 50 minutes<br>
                      français, sous-titré
                    </p>
                  </div>
                </div>

                <div class="hub--program--item">
                  <div class="hub--program--conference">
                    <p class="hub--program--time h3-like no-top-margin no-bottom-margin">
                      <time datetime="2021-10-01 16:50:00">16<abbr title="heures">h</abbr>50</time> – <time datetime="2021-10-01 17:20:00">17<abbr title="heures">h</abbr>20</time>
                    </p>
                    <h4 class="no-top-margin no-bottom-margin">
                      <a class="discreet" href="https://www.paris-web.fr/2021/conferences/pourquoi-les-developpeureuses-ont-besoin-dune-formation-aux-questions-dethique-exemple-de-linformati.php">Pourquoi les développeur·ses ont besoin d’une formation aux questions d’éthique&nbsp;: exemple de l’informatique de santé</a>
                      </a>
                    </h4>
                    <p class="no-top-margin no-bottom-margin">
                      <a class="h5-like discreet" href="https://www.paris-web.fr/orateurs/marion-magne.php">Marion Magné</a><br>
                      mini-conférence, 30 minutes<br>
                      français, sous-titré
                    </p>
                  </div>
                </div>
              </div>
            </details>

            <details class="hub--details hub--details--program" id="details_programme_vendredi">
              <summary>
                <h3>
                  Vendredi 2 octobre
                  <small class="hub--details--hiddenSummary hub--details--show-on-open">
                    masquer
                  </small>
                  <small class="hub--details--hiddenSummary hub--details--show-on-closed">
                    afficher
                  </small>
                </h3>
              </summary>

              <div class="hub--program--day">
                <div class="hub--program--item">
                  <div class="hub--program--conference">
                    <p class="hub--program--time h3-like no-top-margin no-bottom-margin">
                      <time datetime="2021-10-01 09:30:00">09<abbr title="heures">h</abbr>30</time> – <time datetime="2021-10-01 10:20:00">10<abbr title="heures">h</abbr>20</time>
                    </p>
                    <h4 class="no-top-margin no-bottom-margin">
                      <a class="discreet" href="https://www.paris-web.fr/2021/conferences/un-grand-pouvoir-implique-de-grandes-accessibilites.php">Un grand pouvoir implique de grandes accessibilités</a>
                    </h4>
                    <p class="no-top-margin no-bottom-margin">
                      <a class="h5-like discreet" href="https://www.paris-web.fr/orateurs/matthias-dugue.php">Matthias Dugué</a><br>
                      conférence, 50 minutes<br>
                      français, sous-titré
                    </p>
                  </div>
                </div>

                <div class="hub--program--item">
                  <div class="hub--program--conference">
                    <p class="hub--program--time h3-like no-top-margin no-bottom-margin">
                      <time datetime="2021-10-01 10:30:00">10<abbr title="heures">h</abbr>30</time> – <time datetime="2021-10-01 11:00:00">11<abbr title="heures">h</abbr>00</time>
                    </p>
                    <h4 class="no-top-margin no-bottom-margin">
                      <a class="discreet" href="https://www.paris-web.fr/2021/conferences/peut-on-reellement-faire-du-marketing-ethique.php">Peut-on réellement faire du marketing éthique&nbsp;?</a>
                    </h4>
                    <p class="no-top-margin no-bottom-margin">
                      <a class="h5-like discreet" href="https://www.paris-web.fr/orateurs/alex-carmona.php">Alex Carmona</a><br>
                      mini-conférence, 30 minutes<br>
                      français, sous-titré
                    </p>
                  </div>
                </div>

                <div class="hub--program--item">
                  <div class="hub--program--conference">
                    <p class="hub--program--time h3-like no-top-margin no-bottom-margin">
                      <time datetime="2021-10-01 11:10:00">11<abbr title="heures">h</abbr>10</time> – <time datetime="2021-10-01 12:00:00">12<abbr title="heures">h</abbr>00</time>
                    </p>
                    <h4 class="no-top-margin no-bottom-margin">
                      <a class="discreet" href="https://www.paris-web.fr/2021/conferences/pairing-is-caring.php">Pairing is caring</a>
                    </h4>
                    <p class="no-top-margin no-bottom-margin">
                      <a class="h5-like discreet" href="https://www.paris-web.fr/orateurs/syamala-umamaheswaran.php">Syamala Umamaheswaran</a> et
                      <a class="h5-like discreet" href="https://www.paris-web.fr/orateurs/virginie-caplet.php">Virginie Caplet</a><br>
                      conférence, 50 minutes<br>
                      anglais, sous-titré
                    </p>
                  </div>
                </div>

                <div class="hub--program--break">
                  Pause déjeuner
                </div>

                <div class="hub--program--item">
                  <div class="hub--program--conference">
                    <p class="hub--program--time h3-like no-top-margin no-bottom-margin">
                      <time datetime="2021-10-01 13:30:00">13<abbr title="heures">h</abbr>30</time> – <time datetime="2021-10-01 14:00:00">14<abbr title="heures">h</abbr>00</time>
                    </p>
                    <h4 class="no-top-margin no-bottom-margin">
                      <a class="discreet" href="https://www.paris-web.fr/2021/conferences/les-animations-daujourdhui-avec-waapi.php">Les animations d’aujourd’hui avec WAAPI</a>
                    </h4>
                    <p class="no-top-margin no-bottom-margin">
                      <a class="h5-like discreet" href="https://www.paris-web.fr/orateurs/louis-hoebregts.php">Louis Hoebregts</a><br>
                      mini-conférence, 30 minutes<br>
                      français, sous-titré
                    </p>
                  </div>
                </div>

                <div class="hub--program--item">
                  <div class="hub--program--conference">
                    <p class="hub--program--time h3-like no-top-margin no-bottom-margin">
                      <time datetime="2021-10-01 14:10:00">14<abbr title="heures">h</abbr>10</time> – <time datetime="2021-10-01 15:00:00">15<abbr title="heures">h</abbr>00</time>
                    </p>
                    <h4 class="no-top-margin no-bottom-margin">
                      <a class="discreet" href="https://www.paris-web.fr/2021/conferences/is-there-room-for-ethics-in-open-source.php">Y a-t-il de la place pour l’éthique dans l’open source&nbsp;?</a>
                    </h4>
                    <p class="no-top-margin no-bottom-margin">
                      <a class="h5-like discreet" href="https://www.paris-web.fr/orateurs/tobie-langel.php">Tobie Langel</a><br>
                      conférence, 50 minutes<br>
                      français, sous-titré
                    </p>
                  </div>
                </div>

                <div class="hub--program--item">
                  <div class="hub--program--conference">
                    <p class="hub--program--time h3-like no-top-margin no-bottom-margin">
                      <time datetime="2021-10-01 15:10:00">15<abbr title="heures">h</abbr>10</time> – <time datetime="2021-10-01 15:40:00">15<abbr title="heures">h</abbr>40</time>
                    </p>
                    <h4 class="no-top-margin no-bottom-margin">
                      <a class="discreet" href="https://www.paris-web.fr/2021/conferences/le-langage-determine-qui-est-attire-par-lindustrie-web.php">Le langage détermine qui est attiré par l’industrie web</a>
                    </h4>
                    <p class="no-top-margin no-bottom-margin">
                      <a class="h5-like discreet" href="https://www.paris-web.fr/orateurs/nadia-fischer.php">Nadia Fischer</a><br>
                      mini-conférence, 30 minutes<br>
                      français, sous-titré
                    </p>
                  </div>
                </div>

                <div class="hub--program--item">
                  <div class="hub--program--conference">
                    <p class="hub--program--time h3-like no-top-margin no-bottom-margin">
                      <time datetime="2021-10-01 15:50:00">15<abbr title="heures">h</abbr>50</time> – <time datetime="2021-10-01 16:40:00">16<abbr title="heures">h</abbr>40</time>
                    </p>
                    <h4 class="no-top-margin no-bottom-margin">
                      <a class="discreet" href="https://www.paris-web.fr/2021/conferences/et-maintenant-on-fait-quoi.php">Et maintenant, on fait quoi&nbsp;?</a>
                    </h4>
                    <p class="no-top-margin no-bottom-margin">
                      <a href="#" class="discreet h5-like"><a class="h5-like discreet" href="https://www.paris-web.fr/orateurs/maitane-lenoir.php">Maïtané Lenoir</a><br>
                      conférence, 50 minutes<br>
                      français, sous-titré
                    </p>
                  </div>
                </div>

                <div class="hub--program--item">
                  <div class="hub--program--conference">
                    <p class="hub--program--time h3-like no-top-margin no-bottom-margin">
                      <time datetime="2021-10-01 16:50:00">16<abbr title="heures">h</abbr>50</time> – <time datetime="2021-10-01 17:20:00">17<abbr title="heures">h</abbr>20</time>
                    </p>
                    <h4 class="no-top-margin no-bottom-margin">
                      <a class="discreet" href="https://www.paris-web.fr/2021/conferences/peut-on-garder-une-url-secrete.php">Peut-on garder une URL secrète&nbsp;?</a>
                    </h4>
                    <p class="no-top-margin no-bottom-margin">
                      <a class="h5-like discreet" href="https://www.paris-web.fr/orateurs/tim-carry.php">Tim Carry</a><br>
                      mini-conférence, 30 minutes<br>
                      français, sous-titré
                    </p>
                  </div>
                </div>
              </div>
            </details>
          </section>

          <section class="hub--box" id="partenaires">
            <h2 class="no-top-margin">Partenaires</h2>
            <p class="big">Nous tenons à remercier nos partenaires pour leur soutien, tout particulièrement en cette année si spéciale&nbsp;!</p>

            <div class="simpleSponsor-section simpleSponsor-section--bronze">
              <div class="simpleSponsor-section__sponsors">
                <article class="simpleSponsor simpleSponsor--bronze" id="editions-eyrolles">
                  <a class="simpleSponsor__link" href="https://www.editions-eyrolles.com/">
                    <img src="https://www.paris-web.fr/img/partenaires/eyrolles.png" alt="Éditions Eyrolles">
                  </a>
                </article>
  
                <article class="simpleSponsor simpleSponsor--bronze" id="gandi">
                  <a class="simpleSponsor__link" href="https://www.gandi.net/">
                    <img src="https://www.paris-web.fr/img/partenaires/2019/gandi.svg" alt="Gandi">
                  </a>
                </article>
  
                <article class="simpleSponsor simpleSponsor--bronze" id="supinternet">
                  <a class="simpleSponsor__link" href="https://www.supinternet.fr">
                    <img src="https://www.paris-web.fr/img/partenaires/2019/supinternet.png" alt="SUP'Internet">
                  </a>
                </article>
  
                <article class="simpleSponsor simpleSponsor--bronze" id="balsamiq">
                  <a class="simpleSponsor__link" href="https://balsamiq.com/">
                    <img src="https://www.paris-web.fr/img/partenaires/2019/balsamiq.svg" alt="Balsamiq">
                  </a>
                </article>
  
                <article class="simpleSponsor simpleSponsor--bronze" id="authot">
                  <a class="simpleSponsor__link" href="http://www.authot.com/">
                    <img src="https://www.paris-web.fr/img/partenaires/2019/authot.png" alt="Authôt">
                  </a>
                </article>
              </div>
            </div>
          </section>

          <section class="hub--box" id="communaute">
            <h2 class="no-top-margin">Communauté</h2>
            <p class="big">La force de Paris Web depuis 15 ans, c’est vous, la communauté. Pour vous permettre d’échanger à tout moment de l’événement et même au-delà, nous vous proposons deux espaces d’échange.</p>
            <div class="hub--dualBlocks">
              <div>
                <p>Grâce au Slack créé spécialement pour cette édition dématérialisée, venez retrouver les autres membres de la communauté et échangez avec elleux à toute heure du jour ou de la nuit, avant, pendant et après l’événement&nbsp;!</p>
                <p>Vous trouverez notamment un canal dédié à chaque conférence, pour vous permettre d’échanger plus longuement avec chaque orateur et oratrice&nbsp;! 😃</p>
                <a href="https://parisweb2021.slack.com/" class="btn btn-link btn-no-margin btn-fluid">
                  Discuter avec la communauté
                </a>
              </div>
              <hr />
              <div>
                <p>En plus de Slack, chaque conférence sera suivie d’une session questions/réponses en direct avec l’oratrice ou l’orateur.</p>
                <p>Ces moments seront naturellement éphémères mais ne seront pas limités aux 5 à 10 minutes habituellement allouées dans l’agenda de la journée. Vous pourrez profiter de ces moments pour échanger en direct et plus longuement. Imaginez ces sessions comme les discussions que vous pouvez avoir dans les couloirs pendant les pauses. 😉</p>
                <a href="#programme" class="btn btn-link btn-no-margin btn-fluid">
                  Consulter le programme
                </a>
              </div>
            </div>
          </section>
        </div>
        
      </div>
    </div>

  </main>

  <footer class="footer--hub">
    <div class="logo">
      <a href="https://www.paris-web.fr/">
        <img src="{{.Site.BaseURL}}images/logo/2019/logo-rond.svg" alt="Visiter le site paris-web.fr" />
      </a>
    </div>
    <div class="text">
      <p class="small">Depuis 2006, Paris Web est le rendez-vous incontournable des professionnels francophones du Web. Les conférences et ateliers Paris Web sont organisés par l’association à but non lucratif Paris Web.</p>
    </div>
    <div>
      <ul class="link-list">
        <li>
          <a href="https://www.paris-web.fr/association/">Qui sommes-nous&nbsp;?</a>
        </li>
        <li>
          <a href="https://www.paris-web.fr/contact/">Nous contacter</a>
        </li>
        <li>
          <a href="https://www.paris-web.fr/">Le site paris-web.fr</a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="link-list">
        <li>
          <a href="https://www.paris-web.fr/aide/">Aide</a>
        </li>
        <li>
          <a href="https://www.paris-web.fr/code-de-conduite.php">Code de conduite</a>
        </li>
        <li>
          <a href="https://www.paris-web.fr/partenaires.php">Partenaires</a>
        </li>
      </ul>
    </div>
  </footer>

  <script src="{{.Site.BaseURL}}/js/hub.js"></script>

{{ partial "footer" . }}
