<section class="presentation-preview">
    <div class="presentation-preview__media thumbnail">
        <a href="{{ $.Site.BaseURL }}pages/presentation-archive" class="presentation-preview__link">
            <img class="thumbnail__media" src="{{ .Scratch.Get "thumbnail" }}" />
            <span class="thumbnail__description">
                <span class="thumbnail__date">{{ .Scratch.Get "date" }}</span>
                <span class="thumbnail__duration">{{ safeHTML (.Scratch.Get "duration") }}</span>
            </span>
        </a>
    </div>
    <div class="presentation-preview__content">
        <h3 class="h4-like"><a class="discreet" href="{{ $.Site.BaseURL }}pages/presentation-archive">{{ .Scratch.Get "title" }}</a></h3>
        <div>
            {{ $list := .Scratch.Get "authors" }}
            {{ $len := len $list }}
            {{- range $index, $element := $list -}}
                <a class="discreet" href="{{ $.Site.BaseURL }}pages/presentation-archive">{{ . }}</a>{{ if ne (add $index 1) $len }}, {{ end }}
            {{- end -}}
        </div>
        <div>
            <dl class="presentation-services">
                {{- range (.Scratch.Get "services") -}}
                <dd>{{ . | safeHTML }}</dd>
                {{- end -}}
                <dd>{{ .Scratch.Get "language" }}</dd>
                {{ .Scratch.Get "subititles"}}
                <dd><abbr title="sous-titré">S‑T</abbr>&nbsp;{{ .Scratch.Get "subtitles" }}</dd>
            </dl>
        </div>
    </div>
</section>
