<div class="presentation-schedule ignore-print-links ignore-print-abbr">
    <table class="s-scheduleChart" summary="Heure par heure le programme">
        <caption class="screen-reader">Programme du jeudi 05 octobre</caption>
        <tbody>
            <tr class="thead">
                <th scope="col" class="s-scheduleChart-hours">Heure</th>
                <th scope="col" class="s-scheduleChart-firstRoom">Grand amphithéâtre René Descartes</th>
                <th scope="col" class="s-scheduleChart-secondRoom">Auditorium Blaise Pascal</th>
                <th scope="col" class="s-scheduleChart-thirdRoom">Annexe</th>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours"> 8 <abbr title="heures">h</abbr> 15</th>
                <td colspan="3" class="s-scheduleChart-break">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Accueil des participants
                    </a>
                    </p>
                    <span class="visuallyhidden">
                    Interlude dans toutes les salles
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours"> 9<abbr title="heures">h</abbr>00</th>
                <td colspan="3" class="s-scheduleChart-break">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Ouverture des conférences
                    </a>
                    </p>
                    <span class="visuallyhidden">
                    Interlude dans toutes les salles
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours"> 9<abbr title="heures">h</abbr>15</th>
                <td class="s-scheduleChart-firstRoom" colspan="2">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Le secret de la correspondance numérique
                    </a>
                    <span class="s-conf-author">par Laurent Chemla et Julien Dubedout</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><span class="badge">Vélotypie</span></li>
                    <li><a href="https://www.paris-web.fr/2017/media/PW2017-LaurentChemla-le-secret-de-la-correspondance-numerique.pdf"><span class="badge"><abbr title="La présentation au format PDF.">PDF</abbr></span></a></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Grand amphithéâtre René Descartes
                    </span>
                </td>
                <td class="s-scheduleChart-secondRoom"></td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">10<abbr title="heures">h</abbr>00</th>
                <td colspan="3" class="s-scheduleChart-break">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Changement de salle
                    </a>
                    </p>
                    <span class="visuallyhidden">
                    Interlude dans toutes les salles
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">10<abbr title="heures">h</abbr>10</th>
                <td rowspan="2" class="s-scheduleChart-firstRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Alors, qu'y a-t-il dans ES2020&nbsp;?
                    </a>
                    <span class="s-conf-author">par Christophe Porteneuve</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><span class="badge">Vélotypie</span></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Grand amphithéâtre René Descartes
                    </span>
                </td>
                <td class="s-scheduleChart-secondRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Je prends en main ma vie numérique… et c'est pas si facile&nbsp;!
                    </a>
                    <span class="s-conf-author">par Delphine Malassingne</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Auditorium Blaise Pascal
                    Mini-conférence de 45 <abbr title="minutes">mn</abbr> en Auditorium Blaise Pascal
                    </span>
                </td>
                <td class="s-scheduleChart-thirdRoom"></td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">10<abbr title="heures">h</abbr>25</th>
                <td class="s-scheduleChart-secondRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Expliciter l'implicite — je veux juste un site web
                    </a>
                    <span class="s-conf-author">par Sylvain Abélard</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Auditorium Blaise Pascal
                    Mini-conférence de 45 <abbr title="minutes">mn</abbr> en Auditorium Blaise Pascal
                    </span>
                </td>
                <td class="s-scheduleChart-thirdRoom"></td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">10<abbr title="heures">h</abbr>40</th>
                <td colspan="3" class="s-scheduleChart-break">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Pause
                    </a>
                    </p>
                    <span class="visuallyhidden">
                    Interlude dans toutes les salles
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">11<abbr title="heures">h</abbr>00</th>
                <td class="s-scheduleChart-firstRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    L'accessibilité numérique à l'ère de l'intelligence artificielle
                    </a>
                    <span class="s-conf-author">par Elie Sloïm et Denis Boudreau</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><span class="badge">Vélotypie</span></li>
                    <li><a href="https://www.paris-web.fr/www/www/2017/media/PW2017-Accessibilite-numerique-et-intelligence-artificielle.pdf"><span class="badge"><abbr title="La présentation au format PDF.">PDF</abbr></span></a></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Grand amphithéâtre René Descartes
                    </span>
                </td>
                <td class="s-scheduleChart-secondRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    La revue de code (bienveillante)
                    </a>
                    <span class="s-conf-author">par Gilles Roustan</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><a href="https://www.paris-web.fr/2017/media/PW2017-La-revue-de-code-bienveillante.pdf"><span class="badge"><abbr title="La présentation au format PDF.">PDF</abbr></span></a></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Auditorium Blaise Pascal
                    </span>
                </td>
                <td class="s-scheduleChart-thirdRoom"></td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">11<abbr title="heures">h</abbr>45</th>
                <td colspan="3" class="s-scheduleChart-break">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Changement de salle
                    </a>
                    </p>
                    <span class="visuallyhidden">
                    Interlude dans toutes les salles
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">11<abbr title="heures">h</abbr>55</th>
                <td rowspan="3" class="s-scheduleChart-firstRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Recreating the ZX Spectrum loader with Web APIs
                    </a>
                    <span class="s-conf-author">par Remy Sharp</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><span class="badge">Vélotypie</span></li>
                    <li><span class="badge">Traduction <abbr title="français">FR</abbr></span></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Grand amphithéâtre René Descartes
                    </span>
                </td>
                <td class="s-scheduleChart-secondRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    «&nbsp;L'informatique est trop importante pour être laissée aux hommes&nbsp;»
                    </a>
                    <span class="s-conf-author">par Nathalie Pauchet</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Auditorium Blaise Pascal
                    Mini-conférence de 45 <abbr title="minutes">mn</abbr> en Auditorium Blaise Pascal
                    </span>
                </td>
                <td class="s-scheduleChart-thirdRoom"></td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">12<abbr title="heures">h</abbr>10</th>
                <td class="s-scheduleChart-secondRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Souriez (?) #GDPR, #PrivacyByDesign, #PrivacyByDefault deviennent réalité&nbsp;!
                    </a>
                    <span class="s-conf-author">par Stéphane Lebarque</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><a href="https://www.paris-web.fr/2017/media/PW2017-gdprprivacybydesignprivacy.pdf"><span class="badge"><abbr title="La présentation au format PDF.">PDF</abbr></span></a></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Auditorium Blaise Pascal
                    Mini-conférence de 45 <abbr title="minutes">mn</abbr> en Auditorium Blaise Pascal
                    </span>
                </td>
                <td class="s-scheduleChart-thirdRoom"></td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">12<abbr title="heures">h</abbr>25</th>
                <td class="s-scheduleChart-secondRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    UX en Agence, 5 ans pour s'y mettre «&nbsp;en vrai&nbsp;»
                    </a>
                    <span class="s-conf-author">par Nicolas Le Cam</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><a href="https://docs.google.com/presentation/d/1FFvASYYfLmHIdb2N6FNIMn0Jb7v9Q1ZGe5a48u47Nk4/edit#slide=id.p"><span class="badge"><abbr title="Le diaporama sur SlideShare.">SlideShare</abbr></span></a></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Auditorium Blaise Pascal
                    Mini-conférence de 45 <abbr title="minutes">mn</abbr> en Auditorium Blaise Pascal
                    </span>
                </td>
                <td class="s-scheduleChart-thirdRoom"></td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">12<abbr title="heures">h</abbr>40</th>
                <td colspan="3" class="s-scheduleChart-break">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Pause déjeuner
                    </a>
                    </p>
                    <span class="visuallyhidden">
                    Interlude dans toutes les salles
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">13<abbr title="heures">h</abbr>50</th>
                <td class="s-scheduleChart-firstRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    HTML re-invented for the age of web apps
                    </a>
                    <span class="s-conf-author">par Lea Verou</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><span class="badge">Vélotypie</span></li>
                    <li><span class="badge">Traduction <abbr title="français">FR</abbr></span></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Grand amphithéâtre René Descartes
                    </span>
                </td>
                <td class="s-scheduleChart-secondRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Changer notre façon de concevoir une API avec GraphQL
                    </a>
                    <span class="s-conf-author">par Aurélien David</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><a href="https://spyl.net/slides/parisweb-2017.html#/"><span class="badge"><abbr title="Le diaporama sur SlideShare.">SlideShare</abbr></span></a></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Auditorium Blaise Pascal
                    </span>
                </td>
                <td class="s-scheduleChart-thirdRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Informelle
                    </a>
                    </p>
                    <span class="visuallyhidden">
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">14<abbr title="heures">h</abbr>35</th>
                <td colspan="3" class="s-scheduleChart-break">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Changement de salle
                    </a>
                    </p>
                    <span class="visuallyhidden">
                    Interlude dans toutes les salles
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">14<abbr title="heures">h</abbr>45</th>
                <td class="s-scheduleChart-firstRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Les questions oubliées des spécifications&nbsp;: la partie cachée de l'iceberg site web
                    </a>
                    <span class="s-conf-author">par Sylvie Clément</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><span class="badge">Vélotypie</span></li>
                    <li><a href="https://www.paris-web.fr/2017/media/PW2017-Les-questions-oubliees-des-specifications.pdf"><span class="badge"><abbr title="La présentation au format PDF.">PDF</abbr></span></a></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Grand amphithéâtre René Descartes
                    Mini-conférence de 45 <abbr title="minutes">mn</abbr> en Grand amphithéâtre René Descartes
                    </span>
                </td>
                <td class="s-scheduleChart-secondRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Namaste qualité
                    </a>
                    <span class="s-conf-author">par Marie Terrier</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><a href="https://www.paris-web.fr/2017/conferences/namaste-qualite.php#diapo"><span class="badge">Diaporama</span></a></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Auditorium Blaise Pascal
                    Mini-conférence de 45 <abbr title="minutes">mn</abbr> en Auditorium Blaise Pascal
                    </span>
                </td>
                <td rowspan="2" class="s-scheduleChart-thirdRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Informelle
                    </a>
                    </p>
                    <span class="visuallyhidden">
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">15<abbr title="heures">h</abbr>00</th>
                <td class="s-scheduleChart-firstRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    «&nbsp;C'est la faute de l'utilisateur&nbsp;» —&nbsp;Où est passée l'empathie de mon équipe&nbsp;?
                    </a>
                    <span class="s-conf-author">par My Lê</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><span class="badge">Vélotypie</span></li>
                    <li><a href="https://www.paris-web.fr/2017/media/PW2017-empathie.pdf"><span class="badge"><abbr title="La présentation au format PDF.">PDF</abbr></span></a></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Grand amphithéâtre René Descartes
                    Mini-conférence de 45 <abbr title="minutes">mn</abbr> en Grand amphithéâtre René Descartes
                    </span>
                </td>
                <td class="s-scheduleChart-secondRoom"></td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">15<abbr title="heures">h</abbr>15</th>
                <td colspan="3" class="s-scheduleChart-break">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Changement de salle
                    </a>
                    </p>
                    <span class="visuallyhidden">
                    Interlude dans toutes les salles
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">15<abbr title="heures">h</abbr>25</th>
                <td class="s-scheduleChart-firstRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Designing BBC Account: with BIG DATA comes BIG RESPONSIBILITY
                    </a>
                    <span class="s-conf-author">par Cyrièle Piancastelli</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><span class="badge">Vélotypie</span></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Grand amphithéâtre René Descartes
                    </span>
                </td>
                <td class="s-scheduleChart-secondRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Lecteurs d'écran&nbsp;: le choc des titans
                    </a>
                    <span class="s-conf-author">par Sylvie Duchateau</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><a href="https://www.paris-web.fr/2017/media/PW2017-SylvieDuchateau-LecteursDEcran"><span class="badge"><abbr title="Le diaporama sur SlideShare.">SlideShare</abbr></span></a></li>
                    <li><a href="https://www.paris-web.fr/2017/media/PW2017-SylvieDuchateau-LecteursDEcran.pdf"><span class="badge"><abbr title="La présentation au format PDF.">PDF</abbr></span></a></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Auditorium Blaise Pascal
                    </span>
                </td>
                <td class="s-scheduleChart-thirdRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Informelle
                    </a>
                    </p>
                    <span class="visuallyhidden">
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">16<abbr title="heures">h</abbr>10</th>
                <td colspan="3" class="s-scheduleChart-break">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Pause
                    </a>
                    </p>
                    <span class="visuallyhidden">
                    Interlude dans toutes les salles
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">16<abbr title="heures">h</abbr>30</th>
                <td class="s-scheduleChart-firstRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    The State of WebFonts
                    </a>
                    <span class="s-conf-author">par Chris Lilley</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><span class="badge">Vélotypie</span></li>
                    <li><span class="badge">Traduction <abbr title="français">FR</abbr></span></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Grand amphithéâtre René Descartes
                    </span>
                </td>
                <td class="s-scheduleChart-secondRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Améliorer la Performance : entre réalité et perception
                    </a>
                    <span class="s-conf-author">par Geoffrey Crofte</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><a href="https://www.paris-web.fr/2017/media/PW2017-GeoffreyCrofte-Ameliorer-performance-realite-perception.pdf"><span class="badge"><abbr title="La présentation au format PDF.">PDF</abbr></span></a></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Auditorium Blaise Pascal
                    </span>
                </td>
                <td class="s-scheduleChart-thirdRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Informelle
                    </a>
                    </p>
                    <span class="visuallyhidden">
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">17<abbr title="heures">h</abbr>15</th>
                <td colspan="3" class="s-scheduleChart-break">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Changement de salle
                    </a>
                    </p>
                    <span class="visuallyhidden">
                    Interlude dans toutes les salles
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row" class="s-scheduleChart-hours">17<abbr title="heures">h</abbr>25</th>
                <td class="s-scheduleChart-firstRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Projet perso n°42&nbsp;: une aventure ultrasonique
                    </a>
                    <span class="s-conf-author">par Hubert Sablonnière</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><span class="badge">Vélotypie</span></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Grand amphithéâtre René Descartes
                    </span>
                </td>
                <td class="s-scheduleChart-secondRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Rendez-vous en terre inconnue
                    </a>
                    <span class="s-conf-author">par Matthieu Bué</span>
                    </p>
                    <ul class="clearfix s_badge_notice">
                    <li><span class="badge"><abbr title="Langue des signes française">LSF</abbr></span></li>
                    <li><a href="https://speakerdeck.com/twikito/rendez-vous-en-terre-inconnue"><span class="badge"><abbr title="Le diaporama sur SlideShare.">SlideShare</abbr></span></a></li>
                    <li><a href="https://www.paris-web.fr/2017/media/PW2017-Rendez-vous_en_terre_inconnue.pdf"><span class="badge"><abbr title="La présentation au format PDF.">PDF</abbr></span></a></li>
                    </ul>
                    <span class="visuallyhidden">
                    Conférence de 45 <abbr title="minutes">mn</abbr> en Auditorium Blaise Pascal
                    </span>
                </td>
                <td class="s-scheduleChart-thirdRoom">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Informelle
                    </a>
                    </p>
                    <span class="visuallyhidden">
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row">18<abbr title="heures">h</abbr>10</th>
                <td colspan="3" class="s-scheduleChart-break">
                    <p>
                    <a class="s-conf-title" href="{{ $.Site.BaseURL }}pages/presentation">
                    Fin première journée
                    </a>
                    </p>
                    <span class="visuallyhidden">
                    Interlude dans toutes les salles
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>