.fil-actu__title {
  margin-bottom: 0;
}
.fil-actu__list {
  list-style: none;
  padding: 0;
}

.fil-actu__list__item {
  position: relative;
  margin: calc(var(--base-spacing) * 2) auto;
}
.fil-actu__list__item > a:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.fil-actu__list__item > * {
  display: block;
}
.fil-actu__list__item__pubdate {
  color: var(--color-text-03);
}