.footer {
  color: var(--color-text-inverted);
  background: var(--color-text-02);
  padding: calc(var(--base-spacing) * 6) 0;
}

.footer a {
  color: var(--color-text-inverted);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.125em;
  font-family: "PT Sans Narrow", "Helvetica Neue", "Helvetica", Arial,
    sans-serif;
  padding: calc(2 * var(--base-spacing));
  margin: calc(-2 * var(--base-spacing));
  display: inline-block;
}

.footer a:hover,
.footer a:focus {
  text-decoration: underline;
}

.footer img {
  width: 5em;
  max-width: 100%;
  display: block;
}

.footer__legal p {
  font-size: 0.8rem;
  margin: 0;
}

.footer__legal p a {
  font-size: 1em;
  text-decoration: underline;
  font-family: inherit;
  font-weight: normal;
}

.footer__grid {
  padding-inline: 2%;
}

.footer__title {
  grid-area: title;
  align-self: center;
}

.footer__desc {
  grid-area: desc;
}

.footer__links {
  grid-area: links;
}

.footer__social {
  grid-area: social;
}

.footer__foot {
  grid-area: foot;
}

.footer__license {
  grid-area: license;
}

.footer__grid > * {
  margin: 0;
}

.footer__license p, .footer__foot p {
  font-size: 0.8rem;
  margin: 0;
}



@media screen and (min-width: 44em) {
  .footer__grid {
    display: grid;
    gap: 1rem 1%;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "title   desc"
      "links   links"
      "social   social"
      "foot    foot"
      "license license";
  }
}

@media screen and (min-width: 68em) {
  .footer__grid {
    display: grid;
    gap: 1rem 5%;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
      "title   title"
      "desc    links"
      "desc    social"
      "license foot ";
  }
}
