.hp-actus {
  width: calc(100vw - (var(--base-spacing) * 4));
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 44em) {
  .hp-actus {
    width: 90%;
  }

  .hp-actus__content {
    display: flex;
  }

  .hp-actus__content > .fil-actu {
    margin-left: calc(var(--base-spacing) * 6);
  }
}

@media screen and (min-width: 68em) {
  .hp-actus__content > .fil-actu {
    margin-left: calc(var(--base-spacing) * 8);
  }
}