.kezako {
  min-height: calc(20vh - var(--base-spacing) * 20);
}
.kezako li {
  min-width: 15ch;
  color: var(--color-text-02);
  flex: 1 0 30%;
}
.kezako .icon {
  color: var(--color-text-03);
}
.kezako a .icon--question {
  transition: background-color 0.15s ease-in-out;
}
.kezako a:hover .icon--question, .kezako a:focus .icon--question {
  background: var(--color-brand-01-dark);
}

@media screen and (min-width: 53em) {
  .kezako li {
    padding: 0;
    flex: 1;
  }
  .kezako li:nth-child(3) {
    min-width: auto;
  }
}

@media screen and (min-width: 68em) {
  .kezako {
    min-height: calc(25vh - var(--base-spacing) * 20);
  }
}
