.orateurs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: calc(var(--base-spacing) * -2);
  margin-right: calc(var(--base-spacing) * -2);
}

.orateurs__more {
  position: relative;
  display: flex;
  flex-direction: column;
}

.orateurs .portrait {
  width: calc(25% - calc(var(--base-spacing) * 6));
  min-width: 11rem;
  margin-left: calc(var(--base-spacing) * 2);
  margin-right: calc(var(--base-spacing) * 2);
}

.call-for-papers {
  text-align: center;
}
.call-for-papers h2,
.call-for-papers .h2-like {
  margin: 0;
}
.call-for-papers h2::after,
.call-for-papers .h2-like::after {
  display: none;
}
.call-for-papers svg {
  width: 9rem;
  height: 9rem;
  margin: calc(var(--base-spacing)) 0;
}
.call-for-papers a {
  font-weight: bold;
}
