.orateurs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.orateurs__more {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: calc(var(--base-spacing) * 4) calc(var(--base-spacing) * 2);
}

.call-for-papers {
    position: relative;
    text-align: center;
}
.call-for-papers h2, .call-for-papers .h2-like {
    margin: 0;
}
.call-for-papers h2::after, .call-for-papers .h2-like::after {
    display: none;
}
.call-for-papers svg {
    width: 9rem;
    height: 9rem;
    margin: calc(var(--base-spacing)) 0;
}
.call-for-papers a {
    margin: calc(var(--base-spacing) * 3) 0;
}
.call-for-papers a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}