.presentation {
    padding: calc(var(--base-spacing) * 4);
}

.presentation__format {
    float: right;
    text-align: center;
    margin-top: calc(var(--base-spacing) * 1);
    padding-left: calc(var(--base-spacing) * 2);
}
.presentation__format svg {
    height: 2.5rem;
    width: 2.5rem;
    max-width: 100%;
}

.presentation__description h3 {
    margin: 0 0 var(--base-spacing) 0;
    font-size: 1.25rem;
}

.presentation__info, .presentation__services, .presentation__themes {
    margin: 0;
}
.presentation__info > *, .presentation__services > * {
    display: inline;
    margin: 0;
    font-style: italic;
}
.presentation__info > * + *::before {
    content: '|';
    margin: 0 calc(var(--base-spacing) * 2);
}
.presentation__services > * + *::before {
    content: ',';
    margin: 0 calc(var(--base-spacing)) 0 0;
}
.presentation__themes {
    display: block;
    margin: var(--base-spacing) calc(-1 * var(--base-spacing));
}
.presentation__themes > * {
    display: inline;
    margin: 0;
}

.presentation__authors {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: calc(var(--base-spacing) * -2);
}

.presentation--closed .presentation__description p, .presentation--closed .presentation__services {
    display: none;
}

.presentation__expand {
    display: block;
    margin: 0 auto calc(var(--base-spacing) * -2);
}

@media screen and (min-width: 53em) {
    .presentation {
        display: flex;
        padding: calc(var(--base-spacing) * 4);
    }
    
    .presentation__format {
        width: calc(100% / 12 * 1.5);
        padding-right: calc(var(--base-spacing) * 2);
        text-align: center;
        color: var(--color-ui-06);
    }
    .presentation__format svg {
        height: 3.5rem;
        width: 3.5rem;
    }

    .presentation__description {
        padding-right: calc(var(--base-spacing) * 2);
        padding-left: calc(var(--base-spacing) * 2);
        width: calc(100% / 12 * 7);
    }

    .presentation__authors {
        padding-left: calc(var(--base-spacing) * 2);
        margin-bottom: 0;
        width: calc(100% / 12 * 3.5);
        flex-direction: column;
    }
    .presentation__authors > * {
        margin: calc(var(--base-spacing)) 0;
    }
    .presentation__authors > :first-child {
        margin-top: 0;
    }
    .presentation__authors > :last-child {
        margin-bottom: 0;
    }

    .presentation--closed {
        align-items: center;
    }
    .presentation--closed .presentation__format {
        margin-top: 0;
    }
}