.presentation-list > :nth-child(2n + 1) {
  background: var(--color-ui-02);
}

.presentation-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(var(--base-spacing) * -2);
  margin-right: calc(var(--base-spacing) * -2);
}

.presentation-grid > * {
  max-width: 25rem;
  margin: calc(var(--base-spacing) * 4) calc(var(--base-spacing) * 2);
}

@media screen and (min-width: 53em) {
  .presentation-grid {
    justify-content: space-between;
  }
  .presentation-grid > * {
    width: calc(33.3% - calc(var(--base-spacing) * 4));
  }
}