.presentation-info {
  display: flex;
  margin: 0 calc(var(--base-spacing) * -4);
  padding: 0;
  flex-wrap: wrap;
}

.presentation-info__item {
  display: block;
  padding: 0 calc(var(--base-spacing) * 4);
  margin: calc(var(--base-spacing)) 0;
}

.presentation-info__label,
.presentation-info__value {
  display: inline;
}
.presentation-info__value {
  margin: 0;
  font-weight: bold;
}

.presentation-info .presentation-services {
  display: inline;
}
