.presentation-services {
  margin: 0;
  padding: 0;
}

.presentation-services > * {
  display: inline;
  margin: 0;
  font-style: italic;
}
.presentation-services > *::after {
  content: ", ";
}
.presentation-services > *:last-child::after {
  content: none;
}

.presentation-services > * {
  word-wrap: nowrap;
}
