blockquote {
    font-style: italic;
}

.banner blockquote {
    text-align: center;
}
.banner blockquote p {
    font-size: 1.5rem;
    margin: 0;
}
.banner blockquote cite {
    font-style: normal;
    font-size: 1.125rem;
}

.call-to-action blockquote {
    margin: 0;
}