.tabs {
    border-bottom: 1px solid var(--color-ui-03);
    padding: 0;
    margin: calc(var(--base-spacing) * 4) 0;
}

.tabs > * {
    margin: 0 calc(var(--base-spacing) * 6) -1px 0;
    display: inline-block;
    padding: 0;
}

.tabs a {
    display: block;
    color: var(--color-text-03);
    text-decoration: none;
    padding: calc(var(--base-spacing) * 2);
}
.tabs a:hover, .tabs a:focus, .tabs .tab--active a {
    color: var(--color-text-01);
    text-decoration: none;
    border-bottom: 5px solid var(--color-brand-02);
}